{% extends "mir/base.html" %}
{% load i18n %}
{% load breadcrumbs %}
{% block content %}
<section class="app">
<div class="container">
{% breadcrumbs tenant True 'employees' %}
{% include 'mir/fragments/mir_tabs.html' %}
<h3>{% trans 'Employees' %}</h3>
{% for employee in employees %}
  <p>
    <h5>{{ employee }} <a class="btn btn-primary open-popup" data-popup-url="{% url 'mir:employee-update' tenant.id employee.id %}" href="{% url 'mir:employee-update' tenant.id employee.id %}"><i class="bi bi-pencil"></i></a> <a class="btn btn-primary open-popup" data-popup-url="{% url 'mir:employee-delete' tenant.id employee.id %}" href="{% url 'mir:employee-delete' tenant.id employee.id %}"><i class="bi bi-trash3"></i></a></h5>
  </p>
{% empty %}
  <p>
    {% trans 'You have not defined any employees yet.' %}
  </p>
{% endfor %}
<p>
  <a class="btn btn-primary open-popup" data-popup-url="{% url 'mir:employee-create' tenant.id %}" href="{% url 'mir:employee-create' tenant.id %}">{% trans 'Create a new employee' %}</a>
</p>
</div>
</section>
{% include 'mir/fragments/modal.html' %}
{% endblock %}
