{% extends 'compliances/modals/modal-base.html' %}
{% block content %}
{% load i18n %}
{% load verbose_name %}
{% load referred_foreign_keys %}
{% load danger %}
{% load crispy_forms_tags %}
<h3>
  {% if object %}
    {% trans 'Update the ' %} {{ verbose_name }} {{ object }}
  {% else %}
    {% trans 'Add a new ' %} {{ verbose_name }}
  {% endif %}
</h3>

<form method="POST" action="{{ request.path }}">
{% crispy form %}
<button class="btn btn-outline-primary" type="submit">{% trans 'Save' %}</button>
</form>
{% endblock %}
