{% extends 'survey/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
<h3>
{% trans 'Welcome to USM Survey (Page 1)' %}
</h3>
<p>
Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque
porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis
nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex
ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea
voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem
eum fugiat quo voluptas nulla pariatur? </p>

<p>
Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque
porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis
nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex
ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea
voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem
eum fugiat quo voluptas nulla pariatur? </p>

{% if invitee_email %}
<div class="row">
  <div class="col col-md-4">
     Link for
  </div>
  <div class="col col-md-8">
    {{ invitee_name }} ({{ invitee_email }})
  </div>
</div>

<div class="row">
  <div class="col col-md-4">
     Invited by
  </div>
  <div class="col col-md-8">
    {{ invited_by_name }} ({{ invited_by_email }})
  </div>
</div>

<div class="row">
  <div class="col col-md-4">
     For group
  </div>
  <div class="col col-md-8">
    {{ invitation_group }}
  </div>
</div>

<p>
<a class="btn btn-primary" href="{% url 'survey:usm-survey-by-invitation' link %}">Start the survey</a>
</p>
{% else %}
<p>
<a class="btn btn-primary" href="{% url 'survey:usm-survey-qualify' %}">Tell us about you</a>
</p>
{% endif %}
{% endblock %}
