{% load i18n %}
{% load boards %}
<div id="board">
  <h1>{{ board.name }}</h1>
  <div class="mb-5 sortable-lists row">
    {% for list in board.lists.all %}
      <div class="{{ board|board_css_class:forloop.last }}">
        {% include "boards/_list.html" %}
      </div>
    {% endfor %}

      <div x-cloak x-data="{open: false}" @keydown.escape.window="open=false" class="col-auto">
        <h2>
          <button type="button" class="create-list-button btn btn-outline-primary"
              @click="open=true; $refs.input.value = ''; $nextTick(() => $refs.input.focus())" x-show="!open">+ Add list</button>
        </h2>
    
            <form class="create-list-form" x-show="open" @click.outside="open=false" hx-post="{% url 'boards:create_list' tenant_id board.uuid %}" hx-target="this">
                <div class="tw-form tw-bg-white tw-shadow tw-rounded-md tw-p-4 tw-inline-block">
                    <input type="text" hx-trigger="keyup[enterKey]" x-ref="input" name="name" class="form-control" placeholder="{% trans 'Name' %}" required id="id_name">
                    <div class="tw-mt-4 tw-flex tw-items-center tw-space-x-1">
                        <button class="btn btn-outline-primary" type="submit">
                            Save
                        </button>
                        <button type="button" title="Delete" @click="open=false" class="btn btn-outline-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" class="tw-h-5 tw-w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </button>
                  </div>
              </div>
          </form>
        </div>
    </div>
</div>
