{% load i18n %}
    <div class="list mx-3" id="{{ list.uuid }}">
      <div class="list-handle tw-cursor-grab tw-flex tw-items-center tw-justify-between">
        <h2>
            <span>{{ list.name }}</span>
            <span class="badge rounded-pill bg-primary">{{ list.tasks.count }}</span>
            <button type="button" class="btn btn-primary" hx-post="{% url 'boards:delete_list' board.uuid list.uuid %}" hx-confirm="Are you sure?"><i class="bi bi-trash3"></i></button>
        </h2>

    </div>

    <div class="sortable-tasks tw-space-y-3 tw-py-4 tw-overflow-y-auto tw-h-full">
      {% for task in list.tasks.all %}
        {% include "boards/_task.html" %}
      {% endfor %}
    </div>

    <div x-data="{open: false}" @keydown.escape.window="open=false">
        <button type="button" class="create-task-button btn btn-primary"
            @click="open=true; $refs.input.value = ''; $nextTick(() => $refs.input.focus())" x-show="!open">+ Add task</button>

        <form x-show="open" @click.outside="open=false" hx-post="{% url 'boards:create_task' board.uuid list.uuid %}" hx-trigger="submit, keyup[key=='Enter']" hx-target="this">
            <div class="d-inline-block"> 
                <textarea x-ref="input" name="label" rows="1" placeholder="{% trans 'Task name' %}" required id="id_label"
                class="form-control"></textarea>
                <div class="tw-mt-4 tw-flex tw-items-center tw-space-x-1">
                    <button class="btn btn-primary" type="submit">
                        Save
                    </button>
                    <button type="button" @click="open=false" class="btn btn-secondary">Cancel</button>
              </div>
          </div>
      </form>
    </div>


  </div>
