<div class="task card" id="{{ task.uuid }}">
  <div class="card-body">
    <a href="#" class="card-text"
        hx-get="{% url 'boards:task_modal' tenant_id task.uuid %}" hx-swap="beforeend" hx-target="body" hx-trigger="click"></a>
    <span class="card-text">{{ task.name }}</span>
    {% if task.description %}
    <svg xmlns="http://www.w3.org/2000/svg" class="tw-h-4 tw-w-4 tw--m-px tw-mt-2 tw-text-slate-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h7" />
    </svg>
    {% endif %}
  </div>
</div>
