{% load static %}<!DOCTYPE html>
<html class="h-full">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% comment %} <link rel="shortcut icon" href="{% static "images/favicon.ico" %}"> {% endcomment %}

    {% block css %}
    {% comment %}
      <link rel="stylesheet" type="text/css" href="{% static '@fontsource/inter/variable.css' %}">
    {% endcomment %}
      <link href="{% static 'css/boards.css' %}" rel="stylesheet">
    {% endblock %}

    {% block extrahead %}{% endblock %}
  </head>

  <body class="font-sans text-gray-800 antialiased bg-gray-100" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
   
    {% comment %} {% block navbar %}{% include "navbar.html" %}{% endblock navbar %}

    {% include "messages.html" %} {% endcomment %}

    {% block outerContent %}
      <div class="mx-auto max-w-7xl mt-8 md:mt-16 mb-64">
        <div class="mx-4 md:mx-8">
          {% block content %}{% endblock content %}
        </div>
      </div>
    {% endblock outerContent %}

    {% comment %} {% block footer %}
      {% include "footer.html" %}
    {% endblock footer %} {% endcomment %}

    {% block javascript %}
      <script type="text/javascript" src="{% static 'js/boards.js' %}"></script>
      <script src="https://unpkg.com/@alpinejs/focus@3.13.10/dist/cdn.min.js"></script>
      <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
      <script src="https://unpkg.com/htmx.org@2.0.3/dist/htmx.js" integrity="sha384-BBDmZzVt6vjz5YbQqZPtFZW82o8QotoM7RUp5xOxV3nSJ8u2pSdtzFAbGKzTlKtg" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
    {% endblock javascript %}
  </body>

</html>
