{% extends 'boards/base.html' %}

{% block content %}
<div class="container">
<a href="/">
  <span>Boards</span>
</a>
<div class="container">
{% include "boards/_board.html" %}
</div>
{% endblock %}

{% block footer-scripts %}
<script>
htmx.onLoad(function (content) {
  htmx.logAll();
  content.querySelectorAll(".sortable-tasks").forEach(function (sortable) {
    new Sortable(sortable, {
      forceFallback: true,
      animation: 0,
      group: "tasks",
      ghostClass: "sortable-ghost",
      dragClass: "sortable-drag",
      onEnd: function (event) {
        htmx.ajax("POST", "{% url 'boards:task_move' board.uuid %}", {
          target: "#board",
          swap: "outerHTML",
          values: {
            from_list: event.from.closest(".list").id,
            to_list: event.to.closest(".list").id,
            item: event.item.id,
            task_uuids: Array.from(event.to.querySelectorAll(".task")).map(div => div.id)
          }
        })
      }
    })
  })

  content.querySelectorAll(".sortable-lists").forEach(function (sortable) {
    new Sortable(sortable, {
      forceFallback: true,
      animation: 0,
      group: "lists",
      handle: ".list-handle",
      ghostClass: "sortable-ghost",
      dragClass: "none",
      onEnd: function (event) {
        htmx.ajax("POST", "{% url 'boards:list_move' board.uuid %}", {
          target: "#board",
          swap: "outerHTML",
          values: {
            list_uuids: Array.from(content.querySelectorAll(".sortable-lists .list")).map(div => div.id)
          }
        })
      }
    }) 
  })
})
</script>
{% endblock %}
