{% extends 'boards/base.html' %}
{%load i18n %}

{% block content %}
<div class="container mt-3">
  <a class="" href="/">{% trans 'Boards' %}</a>

{% for board in boards %}
<a class="text-decoration-none" href="{{ board.get_absolute_url }}">
  <div class="board-card card border-primary mt-2 mb-2">
    <div class="card-body">
      <div class="card-text text-wrap">
        {{ board.name }}
      </div>
    </div>
  </div>
</a>
{% endfor %}

<div class="mt-3 mb-5">
    <button class="btn btn-primary" hx-get="{% url 'boards:create_board' %}" hx-swap="outerHTML">New board</button>
</div>

</div>
{% endblock %}
