{% extends "compliances/base.html" %}
{% load i18n %}
{% load breadcrumbs %}
{% load constraint %}
{% block content %}
<div class="container">
<section class="app">
{% breadcrumbs tenant True 'compliances' %}
<h1 class="mb-0 pb-0">{% trans 'Setup domain' %} {{ domain.name }}</h1>
<table>
  <thead>
    <tr>
      <th></th>
      {% for section in domain.sections.all %}
      <th><span style="transform: rotate(180deg); writing-mode: vertical-lr;">{{ section.title }}</span></th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    <tr>
    <td>
        Zap
    </td>
    {% for section in domain.sections.all %}
    <td>
        <input type="checkbox"/>
    </td>
    {% endfor %}
    </tr>
  </tbody>
</table>
</section>
</div>
{% endblock %}
