{% load widget_tweaks %}
<div x-data="{modalOpen: true}" class="tw-modal">
    <div x-cloak x-show="modalOpen" @keydown.escape.window="modalOpen=false" style="z-index: 5000" class="tw-relative tw-z-30" role="dialog" aria-modal="true">
        <div class="tw-fixed tw-inset-0 tw-bg-gray-500 tw-bg-opacity-25 tw-transition-opacity"></div>
        <div class="tw-fixed tw-z-10 tw-inset-0 tw-overflow-y-auto">
            <div class="tw-flex tw-items-start tw-justify-center tw-min-h-full tw-p-4 tw-text-center tw-sm:tw-p-0">
                <div class="tw-relative tw-bg-white tw-rounded-lg tw-px-4 tw-pt-5 tw-pb-4 tw-text-left tw-overflow-hidden tw-shadow-xl tw-transform tw-transition-all tw-sm:tw-my-8 tw-max-w-2xl tw-w-full tw-sm:tw-p-6 tw-min-h-[30rem]"
                        x-trap.noscroll.inert="modalOpen" @click.outside="modalOpen=false" x-show="modalOpen">

                    <form hx-post="{{ request.path }}" hx-target="closest .tw-modal">

                        <div class="tw-flex tw-items-start tw-justify-between tw-mb-2">
                            {% render_field form.name class="form-control" rows="1" %}

                            <button type="button" @click="modalOpen=false" class="btn btn-outline-primary">
                                X
                            </button>
                        </div>

                        <div class="tw-text-sm tw-text-gray-600 tw-mb-4">In list {{task.list.name }}</div>

                        <label class="tw-text-sm tw-text-gray-700 tw-mb-1">Description</label>
                        {% render_field form.description class="tw-text-sm tw-border-gray-200 tw-w-full tw-rounded tw-resize-none" rows="2" %}

                        <div class="tw-mt-4">
                            <button class="btn btn-outline-primary" type="submit">Save</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
