{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
<section class="app">
<div class="container">
<h1>{% trans 'Login' %}</h1>

{% translate 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}

<form method="POST" action="{{request.path}}">
  {% crispy form %}
  <button class="btn btn-primary" type="submit">{% trans 'Request password reset link' %}</button>
</form>

</div>
</section>
{% endblock %}
