{% load i18n %}
{% load has_responsibility_type %}
{% load checkbox_value %}

{% if actions.count > 0 %}
<table class="table" style="width: 100%; overflow-wrap: break-word;">
  <thead>
    <tr>
      <th width="3%">
      </th>
      <th width="20%">
        <strong>{% trans 'Action' %}</strong>
      </th>
      <th width="15%">
        <strong>{% trans 'Profile' %}</strong>
      </th>
      <th width="15%">
        <strong>{% trans 'Organization' %}</strong>
      </th>
      <th>
      </th>
      <th>
      </th>
      <th>
      </th>
      <th>
      </th>
      <th width="13%">
      </th>
    </tr>
  </thead>
  <tbody>
    {% for action in actions.all %}
    <tr>
      <td>
        {{ forloop.counter }}.
      </td>
      <td>
        {{ action.title|default:'' }}
      </td>
      <td>
        {% component 'action_profile_selector' entity=action %}
        {% endcomponent %}
      </td>
      <td>
        {% component 'action_org_unit_selector' entity=action %}
        {% endcomponent %}
      </td>
      {% for rtype in 'RACI' %}
      <td class="align-middle">
          <div class="form-check form-switch">
            <input id="{{ action.id }}-{{ rtype }}" type="checkbox" class="responsibility-checkbox form-check-input fs-4" role="switch" data-rtype="{{ rtype }}" data-action="{{ action.id }}" {{ action|has_responsibility_type:rtype|checkbox_value }}/>
            <label class="form-check-label" for="{{ action.id }}-{{ rtype }}">{{ rtype }}</label>
          </div>
      </td>
      {% endfor %}
      <td>
        <center>
        <a class="btn btn-sm btn-outline-primary open-popup" data-popup-url="{% url 'workflows:action-update' tenant.id action.id %}" href="{% url 'workflows:action-update' tenant.id action.id %}"><i class="bi bi-pencil"></i></a>
        <a class="btn btn-sm btn-outline-primary open-popup" href="{% url 'workflows:action-delete' tenant.id action.id %}" data-popup-url="{% url 'workflows:action-delete' tenant.id action.id %}"><i class="bi bi-trash3"></i></a>
        {% with wi=action.work_instructions.first %}
        {% if wi %}
          <a class="btn btn-sm btn-outline-primary open-popup" href="{% url 'workflows:work-instruction-update' tenant.id wi.id %}" data-popup-url="{% url 'workflows:work-instruction-update' tenant.id wi.id %}"><i class="bi bi-person-lines-fill"></i></a>
        {% else %}
          <a class="btn btn-sm btn-outline-primary open-popup" href="{% url 'workflows:work-instruction-create' tenant.id action.id %}" data-popup-url="{% url 'workflows:work-instruction-create' tenant.id action.id %}"><i class="bi bi-person-lines-fill"></i></a>
        {% endif %}
        {% endwith %}
        </center>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p class="mt-0 mb-0">
  {% trans 'No actions added for this activity yet.' %}
</p>
{% endif %}
