{% load indent %}
{% with indent=level|indent:40 %}
  <p style="margin-left: {{ indent }}">
    <strong>{{ organization_unit.name }} <a class="btn btn-outline-primary open-popup" data-popup-url="{% url 'workflows:organization-unit-update' tenant.id organization_unit.id %}" href="{% url 'workflows:organization-unit-update' tenant.id organization_unit.id %}"><i class="bi bi-pencil"></i></a> <a class="btn btn-outline-primary open-popup" data-popup-url="{% url 'workflows:organization-unit-delete' tenant.id organization_unit.id %}" href="{% url 'workflows:organization-unit-delete' tenant.id organization_unit.id %}"><i class="bi bi-trash3"></i></a><br/></strong>
  </p>
  <ul style="margin-left: {{ indent }}">
  {% for service in organization_unit.services.all %} 
      <li><a href="{% url 'workflows:service-detail' tenant.id service.id %}">{{ service.name }}</a></li>
  {% endfor %}
  </ul>
{% endwith %}
{% for child_ou in organization_unit.children.all %}
  {% with next_level=level|add:1 %}
    {% include 'workflows/fragments/organization-unit.html' with tenant=tenant organization_unit=child_ou level=next_level only %}
  {% endwith %}
{% endfor %}
