{% load i18n %}
{% load has_responsibility_type %}
{% load checkbox_value %}

{% if responsibles.count > 0 %}
<table style="width: 100%; overflow-wrap: break-word;">
  <thead>
    <tr>
      <th width="37%">
        <strong>{% trans 'Profile' %}</strong>
      </th>
      <th width="37%">
        <strong>{% trans 'Organization unit' %}</strong>
      </th>
      <th>
        <center><strong>R</strong></center>
      </th>
      <th>
        <center><strong>A</strong></center>
      </th>
      <th>
        <center><strong>C</strong></center>
      </th>
      <th>
        <center><strong>I</strong></center>
      </th>
      <th width="12%"/>
    </tr>
  </thead>
  <tbody>
    {% for responsible in responsibles.all %}
    <tr>
      <td>
        {{ responsible.profile|default:'' }}
      </td>
      <td>
        {{ responsible.organization_unit|default:'' }}
      </td>
      {% for rtype in 'RACI' %}
      <td>
        <center><input class="responsibility-checkbox" type="checkbox" data-rtype="{{ rtype }}" data-responsible="{{ responsible.id }}" {{ responsible|has_responsibility_type:rtype|checkbox_value }}/></center>
      </td>
      {% endfor %}
      <td>
        <center>
        {% with wi=responsible.work_instructions.first %}
        {% if wi %}
          <a class="btn btn-sm btn-light open-popup" href="{% url 'workflows:work-instruction-update' tenant.id wi.id %}" data-popup-url="{% url 'workflows:work-instruction-update' tenant.id wi.id %}"><i class="bi bi-person-lines-fill"></i></a>
        {% else %}
          <a class="btn btn-sm btn-light open-popup" href="{% url 'workflows:work-instruction-create' tenant.id responsible.id %}" data-popup-url="{% url 'workflows:work-instruction-create' tenant.id responsible.id %}"><i class="bi bi-person-lines-fill"></i></a>
        {% endif %}
        {% endwith %}
        <a class="btn btn-sm btn-light open-popup" href="{% url 'workflows:responsible-delete' tenant.id responsible.id %}" data-popup-url="{% url 'workflows:responsible-delete' tenant.id responsible.id %}"><i class="bi bi-trash3"></i></a>
        </center>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p class="mt-2">
  {% trans 'No actions added for this activity yet.' %}
</p>
{% endif %}
