{% load i18n %}
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link {% if request.resolver_match.view_name == 'workflows:service-list' %}active{% endif %}" href="{% url 'workflows:service-list' tenant.id %}">{% trans 'Services' %}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if request.resolver_match.view_name == 'workflows:organization-unit-list' %}active{% endif %}" href="{% url 'workflows:organization-unit-list' tenant.id %}">{% trans 'Organizations' %}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if request.resolver_match.view_name == 'workflows:profile-list' %}active{% endif %}" href="{% url 'workflows:profile-list' tenant.id %}">{% trans 'Profiles' %}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link  {% if request.resolver_match.view_name == 'workflows:customer-list' %}active{% endif %}" href="{% url 'workflows:customer-list' tenant.id %}">{% trans 'Customers' %}</a>
  </li>
</ul>
