{% load i18n %}
<h3>{% trans 'Profiles' %}</h3>
{% for profile in profiles %}
  <p>
    <span class="fs-3">{{ profile.name }}</span>
    <a class="btn btn-sm btn-outline-primary open-popup" data-popup-url="{% url 'workflows:profile-update' tenant.id profile.id %}" href="{% url 'workflows:profile-update' tenant.id profile.id %}"><i class="bi bi-pencil"></i></a>
    <a class="btn btn-sm btn-outline-primary open-popup" data-popup-url="{% url 'workflows:profile-delete' tenant.id profile.id %}" href="{% url 'workflows:profile-delete' tenant.id profile.id %}"><i class="bi bi-trash3"></i></a>
  </p>
{% empty %}
  <p>
    {% trans 'No profiles.' %}
  </p>
{% endfor %}
<p>
  <a class="btn btn-outline-primary open-popup" data-popup-url="{% url 'workflows:profile-create' tenant.id service.id %}" href="{% url 'workflows:profile-create' tenant.id service.id %}">{% trans 'Create a new profile' %}</a>
</p>
