{% load i18n %}

<a href="{% url 'workflows:tenant-list' %}">{% trans 'Tenants' %}</a>
&gt; <a href="{% url 'workflows:service-list' tenant.id %}">{{ tenant.name }}</a>
{% if service %}
&gt; <a href="{% url 'workflows:service-list' tenant.id %}">{% trans 'Services' %}</a>
&gt; {{ service.name }} 
{% if step %}
&gt; <a href="{% url 'workflows:service-routine-list' tenant.id service.id %}">{% trans 'Routines' %}</a>
&gt; {{ step.routine.name }} 
&gt; {{ step.name }} 
{% elif routines %}
&gt; <a href="{% url 'workflows:service-routine-list' tenant.id service.id %}">{% trans 'Routines' %}</a>
{% elif profiles %}
&gt; <a href="{% url 'workflows:service-profile-list' tenant.id service.id %}">{% trans 'Profiles' %}</a>
{% elif tasks %}
&gt; <a href="{% url 'workflows:service-task-list' tenant.id service.id %}">{% trans 'Tasks' %}</a>
{% elif task %}
&gt; <a href="{% url 'workflows:service-task-list' tenant.id service.id %}">{% trans 'Tasks' %}</a>
&gt; {{ task.name }}
{% elif request.resolver_match.view_name == 'workflows:service-responsibility-list' %}
&gt; <a href="{% url 'workflows:service-responsibility-list' tenant.id service.id %}">{% trans 'Responsibilities' %}</a>
{% endif %}
{% comment %}
<a class="btn btn-sm btn-outline-primary open-popup" data-popup-url="{% url 'workflows:service-update' tenant.id service.id %}" href="{% url 'workflows:service-update' tenant.id service.id %}"><i class="bi bi-pencil"></i></a> {% xcomment %}<a class="btn btn-sm btn-outline-primary open-popup" data-popup-url="{% url 'workflows:service-share' tenant.id service.id %}" href="{% url 'workflows:service-share' tenant.id service.id %}"><i class="bi bi-share"></i></a>{% xendcomment %}</span>
{% endcomment %}
{% endif %}

<ul class="mt-3 nav nav-tabs">
  {% if service %}
  <li class="nav-item">
    <a class="nav-link {% if request.resolver_match.view_name == 'workflows:service-routine-list' or request.resolver_match.view_name == 'workflows:step-detail' %}active{% endif %}" href="{% url 'workflows:service-routine-list' tenant.id service.id %}">{% trans 'Routines' %}</a>
  </li>
  {% comment %}
  <li class="nav-item">
    <a class="nav-link {% if request.resolver_match.view_name == 'workflows:service-customer-list' %}active{% endif %}" href="{% url 'workflows:service-customer-list' tenant.id service.id %}">{% trans 'Customers' %}</a>
  </li>
  {% endcomment %}
  <li class="nav-item">
    <a class="nav-link {% if request.resolver_match.view_name == 'workflows:service-profile-list' or request.resolver_match.view_name == 'workflows:profile-detail' %}active{% endif %}" href="{% url 'workflows:service-profile-list' tenant.id service.id %}">{% trans 'Profiles' %}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if request.resolver_match.view_name == 'workflows:service-task-list' or request.resolver_match.view_name == 'workflows:service-task-detail' %}active{% endif %}" href="{% url 'workflows:service-task-list' tenant.id service.id %}">{% trans 'Tasks' %}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if request.resolver_match.view_name == 'workflows:service-responsibility-list' %}active{% endif %}" href="{% url 'workflows:service-responsibility-list' tenant.id service.id %}">{% trans 'Responsibilities' %}</a>
  </li>
  {% endif %}
</ul>
