{% load indent %}
{% with indent=level|indent:40 %}
  <p style="margin-left: {{ indent }}">
    <a class="fs-3" href="{% url 'workflows:service-routine-list' tenant.id service.id %}">{{ service.name }}</a>
    <a class="mx-2 btn btn-outline-primary btn-sm open-popup" data-popup-url="{% url 'workflows:service-delete' tenant.id service.id %}" href="{% url 'workflows:service-delete' tenant.id service.id %}"><i class="bi bi-trash3"></i></a><br/>
    {% if service.owner != user %}
    <span class="small text-muted">
      {{ service.owner }}
    </span><br/>
    {% endif %}
    <div class="mt-0 small text-muted">
      {{ service.description|default:''|linebreaks }}
    </div>
  </p>
{% endwith %}
{% for service in service.children.all %}
  {% with next_level=level|add:1 %}
    {% include 'workflows/fragments/service.html' with tenant=tenant service=service level=next_level only %}
  {% endwith %}
{% endfor %}
