{% load i18n %}
{% load component_tags %}
<h3>{% trans 'Routines' %}</h3>
{% for routine in routines %}
  <div class="card my-3">
    <div class="card-header">
      <a class="fs-2 mx-1" href="{% url 'workflows:routine-detail' tenant.id routine.id %}">{{ routine.name }}</a>

      {% component 'routine_tags' entity=routine %}{% endcomponent %}
    </div>
    <div class="card-body">
      <a class="btn btn-outline-primary open-popup" data-popup-url="{% url 'workflows:routine-delete' tenant.id routine.id %}" href="{% url 'workflows:routine-delete' tenant.id routine.id %}">{% trans 'Delete' %}</a>
    </div>
  </div>
{% empty %}
  <p>
    {% trans 'No routines.' %}
  </p>
{% endfor %}
<p>
  <a class="btn btn-outline-primary open-popup" data-popup-url="{% url 'workflows:routine-create' tenant.id service.id %}" href="{% url 'workflows:routine-create' tenant.id service.id %}">{% trans 'Create a new routine' %}</a>
</p>
