{% load i18n %}
{% load has_responsibility_type %}
{% load checkbox_value %}

<div class="action card">
  <div class="card-header bg-primary-subtle" style="f-background-color: #d6ddeb">
    <h5>
      {{ forloop.counter }}.
      {{ action.title|default:'' }}
      {% if not forloop.first %}
        <a class="mx-1 btn btn-sm btn-outline-primary action-up" href="{% url 'workflows:action-up' tenant_id action.id %}"><i class="bi bi-arrow-up"></i></a>
      {% else %}
      <button class="mx-1 btn btn-sm btn-outline-primary" href="#" disabled><i class="bi bi-arrow-up"></i></button>
      {% endif %}
      {% if not forloop.last %}
        <a class="mx-1 btn btn-sm btn-outline-primary  action-down" href="{% url 'workflows:action-down' tenant_id action.id %}"><i class="bi bi-arrow-down"></i></a>
      {% else %}
        <button class="mx-1 btn btn-sm btn-outline-primary" href="#" disabled><i class="bi bi-arrow-down"></i></button>
      {% endif %}
      <a class="btn btn-sm btn-outline-primary open-popup m-1" data-popup-url="{% url 'workflows:action-update' tenant_id action.id %}" href="{% url 'workflows:action-update' tenant_id action.id %}"><i class="bi bi-pencil"></i></a>
      <a class="btn btn-sm btn-outline-primary open-popup m-1" href="{% url 'workflows:action-delete' tenant_id action.id %}" data-popup-url="{% url 'workflows:action-delete' tenant_id action.id %}"><i class="bi bi-trash3"></i></a>
    </h5>
  </div>
  <div class="card-body">
  {% for responsibility in action.responsibilities.all %}
    {% component 'responsibility_editor' responsibility=responsibility %}
    {% endcomponent %}
  {% endfor %}
  <div class="row">
    <div class="col-12">
      <button class="btn btn-sm btn-outline-dark m-1" hx-post="{% url 'components:responsibility-create' tenant_id action.id %}" hx-target="closest .action" hx-swap="outerHTML">{% trans 'Add a responsibility' %}</button>
    </div>
  </div>
  </div>
</div>
