{% load i18n %}
{% load has_responsibility_type %}
{% load checkbox_value %}

<div class="responsibility_editor row">
  <div class="col-3 d-inline-flex align-self-center">
    {% for rtype in 'RASCI' %}
    <div class="form-check form-switch mx-3 align-items-center justify-content-evenly">
      <input hx-post="{% url 'components:responsibility-editor' tenant_id responsibility.id %}" hx-vals='{"rtype": "{{ rtype|escapejs }}"}' id="{{ responsibility.action_id }}-{{ rtype }}" type="checkbox" name="responsibility-checkbox" class="form-check-input align-self-center" role="switch" {{ responsibility|has_responsibility_type:rtype|checkbox_value }}/>
      <label class="form-check-label" for="{{ responsibility.action_id }}-{{ rtype }}">{{ rtype }}</label>
    </div>
    {% endfor %}
  </div>
  <div class="col-1 d-inline-flex align-self-center">
    {% with i=action.instructions.first %}
    {% if i %}
      <a class="btn btn-sm btn-outline-primary open-popup m-1" href="{% url 'workflows:work-instruction-update' tenant_id i.id %}" data-popup-url="{% url 'workflows:work-instruction-update' tenant_id i.id %}"><i class="bi bi-person-lines-fill"></i></a>
    {% else %}
      <a class="btn btn-sm btn-outline-primary open-popup m-1" href="{% url 'workflows:work-instruction-create' tenant_id responsibility.id %}" data-popup-url="{% url 'workflows:work-instruction-create' tenant_id responsibility.id %}"><i class="bi bi-person-lines-fill"></i></a>
    {% endif %}
    {% endwith %}
    <a class="btn btn-sm btn-outline-primary m-1" hx-delete="{% url 'components:responsibility-delete' tenant_id responsibility.id %}" hx-swap="outerHTML" hx-target="closest .action"><i class="bi bi-trash3"></i></a>
  </div>
  <div class="col-8 d-inline-flex align-self-center">
    {% component 'responsibility_profile_selector' entity=responsibility %}
    {% endcomponent %} <span class="fs-3">
  </div>
</div>
