{% load xref %}
{% load i18n %}
<div class="xref_statement_card"
    id="{{ statement.id | js_str }}">
  <div class="card mb-3"
    x-data="{
        get is_selected() { return '{{ statement.id | js_str }}' == this.selected_id },
        visible_ids: ['{{ statement.id | js_str }}', '{{ statement.requirement.id | js_str }}'{% for constraint in statement.constraints.all %}, '{{ constraint.id | js_str }}'{% endfor %}],
        get is_visible() { return this.visible_ids.includes(this.selected_requirement_id) },
        get btn_css_class() { return this.is_selected ? 'm-1 btn btn-outline-light': 'm-1 btn btn-outline-primary' }
    }"
    x-show="is_visible"
    {% if prev_statement %}
    @keydown.document.prevent.stop.up="console.log('UP'); if (is_selected) { $nextTick(() => { select('Statement', '{{ prev_statement.id | js_str }}'); }) }"
    {% endif %}
    {% if next_statement %}
    @keydown.document.prevent.stop.down="console.log('DOWN'); if (is_selected) { $nextTick(() => { select('Statement', '{{ next_statement.id | js_str }}'); }) }"
    {% endif %}
    {% if statement.requirement %}
    @keydown.document.prevent.stop.left="console.log('LEFT'); if (is_selected) { $nextTick(() => { select('Requirement', '{{ statement.requirement.id | js_str }}'); }) }"
    {% endif %}
    {% if statement.constraints.first %}
    @keydown.document.prevent.stop.right="console.log('RIGHT'); if (is_selected) { $nextTick(() => { select('Constraint', '{{ statement.constraints.first.id | js_str }}'); }) }"
    {% endif %}
    :class="is_selected ? 'bg-primary text-white' : ''">
  <div class="card-header">
    <h5>{{ statement | xref_status_badge }} {{ statement.title }}</h5>
    <small :class="is_selected ? 'text-white-50' : 'text-muted'">
      {{ statement.text | linebreaks }}
    </small>
  </div>
  <div class="card-body">
    <a :disabled="is_selected" @click="select('Statement', '{{ statement.id | js_str }}'); return false;" class="m-1 btn" :class="btn_css_class">{% trans 'Select' %}</a>
    {% for status, name in statuses  %}
      {% if statement.xref_status != status %}
        <button class="m-1 btn" :class="btn_css_class" hx-target="closest .xref_statement_card" hx-swap="outerHTML" hx-post="{% url 'components:xref-statement-status-transition' statement.id status %}" hx-vals='{"next_statement_id": "{{ next_statement.id | js_str}}","prev_statement_id":"{{ prev_statement..id | js_str }}"}'>{{ name }}</button>
      {% endif %}
    {% endfor %}
    <a class="m-1 btn open-popup" :class="btn_css_class" data-popup-url="{% url 'xref:statement-update' statement.id %}" href="{% url 'xref:statement-update' statement.id %}">{% trans 'Edit' %}</a>
    <a class="m-1 btn open-popup" :class="btn_css_class" data-popup-url="{% url 'xref:statement-delete' statement.id %}" href="{% url 'xref:statement-delete' statement.id %}">{% trans 'Delete' %}</a>
  </div>
</div>
</div>
