{% load i18n %}
{% load compliances %}
{% load tq_template %}
{% load xref %}

<div class="xref row" x-data="{
    selected_id: '{{ selected_id | js_str }}',
    selected_requirement_id: '{{ selected_id | js_str }}',
    selected_statement_id: null,
    selected_type: '{{ selected_type | js_str }}',
    select(new_type, new_id) {
        console.log('SELECT');
        console.log(new_type);
        console.log(new_id);
        this.selected_type = new_type;
        this.selected_id = new_id;
        if (new_type == 'Requirement') {
            this.selected_requirement_id = new_id;
            this.selected_statement_id = null;
        }
        if (new_type == 'Statement') {
            this.selected_statement_id = new_id;
        }
        this.selected_id = new_id;
        const element = document.getElementById(new_id);
        element.scrollIntoView();
    }
  }">

  {% if xref.domain.root_sections.count > 0 %}
    {% with section_structures=xref.domain.sections_with_status|tree_info %}
      {% for section,structure in section_structures %}
        {% with preceding_requirement=xref.domain.sections_with_status|get_preceding_requirement:forloop.counter0 following_requirement=xref.domain.sections_with_status|get_following_requirement:forloop.counter0 %}
          <h{{ section.tree_depth|add:1 }}>
            {{ section | xref_status_badge }} 
            {% if section.doc and not section.doc == 'Main clauses' %}{{ section.doc }}: {% endif %}{{ section.docid }} {{ section.title }}
            <a class="btn btn-outline-primary open-popup" data-popup-url="{% url 'xref:section-update' section.id %}" href="{% url 'xref:section-update' section.id %}"><i class="bi bi-pencil"></i></a>
            <a class="btn btn-outline-primary open-popup" data-popup-url="{% url 'xref:section-delete' section.id %}" href="{% url 'xref:section-delete' section.id %}"><i class="bi bi-trash3"></i></a>
            <a class="btn btn-outline-primary mx-1 open-popup" data-popup-url="{% url 'xref:section-create-child' section.id %}" href="{% url 'xref:section-create-child' section.id %}"><i class="bi bi-plus"></i></a>
            <a class="btn btn-outline-primary mx-1 open-popup" data-popup-url="{% url 'xref:requirement-create' section.id %}" href="{% url 'xref:requirement-create' section.id %}"><i class="bi bi-card-checklist"></i></a>
          </h{{ section.tree_depth|add:1 }}>
          {% if section.text %}
            <p>
              {{ section.text|default:''|linebreaks }}
            </p>
          {% endif %}
          {% if structure.new_level %}
          <div class="row">
          {% endif %}
          <div class="col">
          {% with requirements=section.requirements.all %}
            {% if requirements %}
              {% for requirement in requirements %}
                {% with prev_requirement=requirements|prev_item:forloop.counter0|default:preceding_requirement next_requirement=requirements|next_item:forloop.counter0|default:following_requirement %}
                  {% component 'xref_requirement_card' requirement=requirement prev_requirement=prev_requirement next_requirement=next_requirement %}
                  {% endcomponent %}
                {% endwith %}
              {% endfor %}
              </div> {# col #}
              <div class="col">
                {% for requirement in requirements %}
                  {% with statements=requirement.statements.all %}
                    {% for statement in statements %}
                      {% with prev_statement=statements|prev_item:forloop.counter0 next_statement=statements|next_item:forloop.counter0 %}
                        {% component 'xref_statement_card' statement=statement prev_statement=prev_statement next_statement=next_statement %}
                        {% endcomponent %}
                      {% endwith %}
                    {% endfor %}
                  {% endwith %}
                  <a x-show="selected_requirement_id == '{{ requirement.id | js_str }}'" class="btn m-1 open-popup btn-outline-primary" data-popup-url="{% url 'xref:statement-create' requirement.id %}" href="{% url 'xref:statement-create' requirement.id %}">{% trans 'Add a statement' %}</a>
                {% endfor %}
              </div>
              <div class="col">
                {% for requirement in requirements %}
                  {% for statement in requirement.statements.all %}
                    {% with constraints=statement.constraints.all %}
                      {% for constraint in constraints %}
                        {% with prev_constraint=constraints|prev_item:forloop.counter0 next_constraint=constraints|next_item:forloop.counter0 %}
                          {% component 'xref_constraint_card' statement=statement constraint=constraint prev_constraint=prev_constraint next_constraint=next_constraint %}
                          {% endcomponent %}
                        {% endwith %}
                      {% endfor %} {# for constraints #}
                    {% endwith %} {# with constraints #}
                    <a x-show="selected_statement_id == '{{ statement.id }}'" class="m-1 btn btn-outline-primary open-popup" data-popup-url="{% url 'xref:constraint-create' statement.id %}" href="{% url 'xref:statement-create' statement.id %}">{% trans 'Add a constraint' %}</a>
                  {% endfor %} {# for statements #}
                {% endfor %} {# for requirements #}
              </div>
            {% endif %} {# if requirements #}
          {% endwith %} {# with requirements #}
          {% for level in structure.closed_levels %}
          </div>
          {% endfor %}
        {% endwith %} {# precedint_requirement, following_requirement #}
      {% endfor %} {# session_structure #}
    {% endwith %} {# session_structures #}
  {% else %} {# has sections #}
    {% blocktrans %}
      This cross-creference does not contain any sections.
    {% endblocktrans %}
  {% endif %} {# has sections #}
</div> {# xref #}
