{% load i18n %}

<span class="xref_status_transitions">
  {% if obj.xref_status != 'draft' %}
    <button class="m-1 btn" :class="btn_css_class" hx-target="closest .xref_status_transitions" hx-swap="outerHTML" hx-post="{% url 'components:xref-status-transition' obj.classname obj.id 'draft' %}">{% trans 'Draft' %}</button>
  {% endif %}
  {% if obj.xref_status != 'ready' %}
    <button class="m-1 btn" :class="btn_css_class" hx-target="closest .xref_status_transitions" hx-swap="outerHTML" hx-post="{% url 'components:xref-status-transition' obj.classname obj.id 'ready' %}">{% trans 'Ready' %}</button>
  {% endif %}
  {% if obj.xref_status != 'verified' %}
    <button class="m-1 btn" :class="btn_css_class" hx-target="closest .xref_status_transitions" hx-swap="outerHTML" hx-post="{% url 'components:xref-status-transition' obj.classname obj.id 'verified' %}">{% trans 'Verified' %}</button>
  {% endif %}
</span>
