{% load i18n %}
{% load xref %}

<div 
    class="xref_constraint_card"
    id="{{ constraint.id | js_str }}">
  <div 
    class="card mb-3"
    x-data="{
        visible_ids: ['{{ constraint.id | js_str }}'{% for statement in constraint.statements.all %}, '{{ statement.id | js_str }}', '{{ statement.requirement.id | js_str }}'{% endfor %}],
        get is_selected() { return '{{ constraint.id | js_str }}' == this.selected_id },
        get is_visible() { return this.visible_ids.includes(this.selected_statement_id) },
        get btn_css_class() { return this.is_selected ? 'm-1 btn btn-outline-light': 'm-1 btn btn-outline-primary' } 
    }"
    x-show="is_visible"
    {% if prev_constraint %}
    @keydown.document.prevent.stop.up="console.log('UP constraint'); if (is_selected) { $nextTick(() => { select('Constraint', '{{ prev_constraint.id | js_str }}'); }) }"
    {% endif %}
    {% if next_constraint %}
    @keydown.document.prevent.stop.down="console.log('DOWN constraint'); if (is_selected) { $nextTick(() => { select('Constraint', '{{ next_constraint.id | js_str }}'); }) }"
    {% endif %}
    {% if statement %}
    @keydown.document.prevent.stop.left="console.log('LEFT constraint'); if (is_selected) { $nextTick(() => { select('Statement', '{{ statement.id | js_str }}'); }) }"
    {% endif %}
    :class="is_selected ? 'bg-primary text-white' : ''">
  <div class="card-header">
    <h5>{{ constraint | xref_status_badge }} {{ constraint.title }}</h5>
    <small :class="is_selected ? 'text-white-50' : 'text-muted'">
      {{ constraint.text | linebreaks }}
    </small>
  </div>
  <div class="card-body">
    <a :disabled="is_selected"  @click="select('Constraint', '{{ constraint.id | js_str }}'); return false;" class="m-1 btn" :class="btn_css_class">{% trans 'Select' %}</a>
    {% for status, name in statuses  %}
      {% if constraint.xref_status != status %}
        <button class="m-1 btn" :class="btn_css_class" hx-target="closest .xref_constraint_card" hx-swap="outerHTML" hx-post="{% url 'components:xref-constraint-status-transition' statement.id constraint.id status %}" hx-vals='{"next_constraint_id": "{{ next_constraint.id | js_str}}","prev_constraint_id":"{{ prev_constraint..id | js_str }}"}'>{{ name }}</button>
      {% endif %}
    {% endfor %}
    <a class="open-popup m-1 btn" :class="btn_css_class" data-popup-url="{% url 'xref:constraint-update' statement.id constraint.id %}" href="{% url 'xref:constraint-update' statement.id constraint.id %}">{% trans 'Edit' %}</a>
    <a class="m-1 btn open-popup" :class="btn_css_class" data-popup-url="{% url 'xref:constraint-delete' statement.id constraint.id %}" href="{% url 'xref:constraint-delete' statement.id constraint.id %}">{% trans 'Delete' %}</a>
  </div>
</div>
</div>
