{% load xref %}
{% load i18n %}

{% cond_assignment is_selected 'm-1 btn-outline-light' 'm-1 btn-outline-primary' as btn_css_class %}
<div class="xref_statement_card card mb-3 {% if is_selected %}bg-primary text-white{% endif %}">
  <div class="card-header">
    <h5>{{ statement | xref_status_badge }} {{ statement.title }}</h5>
    <small class="{% if is_selected %}text-white-50{% else %}text-muted{% endif %}">
      {{ statement.text | linebreaks }}
    </small>
  </div>
  <div class="card-body" id="{{ statement.id }}">
    <a href="{% url 'xref:statement-detail' statement.id %}" class="btn {{ btn_css_class }}">{% trans 'Select' %}</a>
    {% component "xref_status_transitions" obj=statement btn_css_class=btn_css_class %}
    {% endcomponent %}
    <a class="m-1 btn {{ btn_css_class }} open-popup" data-popup-url="{% url 'xref:statement-update' statement.id %}" href="{% url 'xref:statement-update' statement.id %}">{% trans 'Edit' %}</a>
    <a class="m-1 btn {{ btn_css_class }} open-popup" data-popup-url="{% url 'xref:statement-delete' statement.id %}" href="{% url 'xref:statement-delete' statement.id %}">{% trans 'Delete' %}</a>
    <a class="btn  {{ btn_css_class }} open-popup" data-popup-url="{% url 'xref:constraint-create' statement.id %}" href="{% url 'xref:statement-create' statement.id %}">{% trans 'Add a new constraint' %}</a>
    {% if is_selected and selected_constraint is None %}
    <div hx-trigger="keydown[keyCode==37] from:body" hx-get="{% url 'xref:requirement-detail' selected_statement.requirement.id %}?hx=1" href="#" class="{{ btn_css_class }}">{# Up to requirement #}</div>
    {% if prev_statement %}
      <div hx-trigger="keydown[keyCode==38] from:body" hx-get="{% url 'xref:statement-detail' prev_statement.id %}?hx=1" href="#" class="btn {{ btn_css_class }}">{# Previous #}</div>
    {% endif %}
    {% if next_statement %}
      <div hx-trigger="keydown[keyCode==40] from:body" hx-get="{% url 'xref:statement-detail' next_statement.id %}?hx=1" href="#" class="{{ btn_css_class }}">{# Next #}</div>
    {% endif %}
    {% with constraint=selected_constraint|default:selected_statement.constraints.first %} 
      {% if constraint %}
        <div hx-trigger="keydown[keyCode==39] from:body" hx-get="{% url 'xref:constraint-detail' statement.id constraint.id %}?hx=1" href="#" class="{{ btn_css_class }}">{# Down to constraint #}</div>
      {% endif %}
    {% endwith %}
    {% endif %}
  </div>
</div>
