{% load compliances %}
{% load tq_template %}

{% for section,structure in sections|tree_info %}
<h{{ section.tree_depth|add:1 }}>{% if not section.doc == 'Main clauses' %}{{ section.doc }}: {% endif %}{{ section.docid }} {{ section.title }}</h{{ section.tree_depth|add:1 }}>
{% if section.description %}
<p>
{{ section.description|linebreaks }}
</p>
{% endif %}
{% if structure.new_level %}
{% endif %}
{% if section.requirements.count > 0 %}
  {% for requirement in section.requirements.all %}
    <div class="card mb-3">
      <div class="card-header">
        <h5>{{ requirement | requirement_status }} {{ requirement.text }}</h5>
      </div>
      <div class="card-body" id="{{ requirement.statement.id }}">
        {{ requirement.statement.text | linebreaks }}
      </div>
      <div class="card-footer">
        <ul class="list-unstyled">
        {% for constraint in requirement.statement.constraints %}
          <li class="my-1" id="{{ constraint.id }}">
            {% for story in constraint.stories.all %}{% compliances_story domain story %}{% endfor %} {{ constraint.text }}
          </li>
        {% endfor %}
        </ul>
      </div>
    </div>
    </div>
  {% endfor %}
{% endif %}
{% for level in structure.closed_levels %}
{% endfor %}
{% endfor %}
