{% extends 'xref/modals/modal-base.html' %}
{% block content %}
{% load i18n %}
{% load danger %}
<h3>{% trans 'Delete ' %} {{ object_type }} {{ object }}</h3>
<form action="{{ request.path }}" method="post">{% csrf_token %}
    {% danger %}
        {% trans 'This will permanently delete the ' %} {{ object_type }} {% trans 'and everything under it. Are you sure you want to delete it?' %}
    {% enddanger %}
    <p> 
      <a class="button btn btn-secondary" href="{{ cancel_url }}">Cancel</a>
      <input class="button btn btn-primary" type="submit" value="OK">
    </p>
</form>
{% endblock content %}
