{% extends "accounts/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Log in" %}{% endblock %}

{% block regcontent %}
<div class="row">
    <div class="col-md-12">
        {% crispy form %}
        <input type="hidden" name="next" value="{{ next }}" />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>{% trans "Forgot your password?" %} <a href="{% url 'accounts:auth_password_reset' %}">{% trans "Reset it" %}</a>.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>{% trans 'What is USM BPM Tool?' %}</h3>
        <p>
        {% blocktrans trimmed %}
        It is a new kind of Business Process Modeling tool. Some differences to existing tools:
        {% endblocktrans %}
        </p>
        <ul>
            <li>
                {% trans 'It uses USM, which is based on methodical and systematic approach to Enterprise Service Management' %}
            </li>
            <li>
                {% trans 'As compared to word processor (such as Word) templates, your data is structured and you can access it through APIs' %}
            </li>
            <li>
                {% trans 'It will become much cheaper to standards and frameworks, such as ITIL or ISO standards.' %}
            </li>
        </ul>

        <p>
        {% blocktrans trimmed %}
        The site is currently not open to public.  We are in beta, experimenting the site with certain interest groups. 
        If you are a member of one of those interest groups, please use your invitation link to join.
        {% endblocktrans %}
        </p>

        <p>
        {% blocktrans trimmed %}
        If you are not a member of any of those groups, you can join our waiting list.
        {% endblocktrans %}
        </p>

        {% comment %}
        <a class="btn btn-primary btn-rounded" role="button" href="{% url 'accounts:join-waiting-list' %}">{% trans 'Join waiting list' %}</a>
        {% endcomment %}
    </div>
</div>

{% endblock regcontent %}

{% comment %}

It's your responsibility to provide the login form in a template called
registration/login.html by default. This template gets passed four
template context variables:

``form``
    A Form object representing the login form. See the forms
    documentation for more on Form objects.

``next``
    The URL to redirect to after successful login. This may contain a
    query string, too.

``site``
    The current Site, according to the SITE_ID setting. If you don't
    have the site framework installed, this will be set to an instance
    of RequestSite, which derives the site name and domain from the
    current HttpRequest.

``site_name``
    An alias for site.name. If you don't have the site framework
    installed, this will be set to the value of
    request.META['SERVER_NAME']. For more on sites, see The
    "sites" framework.

{% endcomment %}
