{% extends "accounts/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block meta %}
<!-- NOTE(joshblum): This prevents leaking the password reset token via the
   Referer header to any 3rd party apps on the page. -->
<meta name="referrer" content="origin">
{% endblock %}

{% block title %}{% trans "Confirm password reset" %}{% endblock %}

{% block regcontent %}
{% if validlink %}
  <p>{% trans "Enter your new password below to reset your password:" %}</p>
  {% crispy form %}
{% else %}
  {% trans "Password reset unsuccessful. Please" %} <a href="{% url 'accounts:auth_password_reset' %}">{% trans "try again" %}.</a>
{% endif %}
{% endblock %}


{# This is used by django.contrib.auth #}
