@tailwind base;
@tailwind components;
@tailwind utilities;


.sortable-drag {
    opacity: 1 !important;
    @apply tw-border tw-border-gray-200 tw-rotate-3;
}

.sortable-ghost {
    @apply tw-bg-slate-300 tw-text-slate-300 tw-shadow-inner;
}

.sortable-ghost:hover {
    @apply tw-bg-slate-300 tw-text-slate-300 tw-shadow-inner !important;
}

.sortable-ghost * {
    @apply tw-invisible;
}

.board-card:hover {
  color: white;
  background-color: #36589C;
}

.grabbing {
  cursor: grabbing !important;
}

task.sortable-drag {
}

task.sortable-chosen {
}
