{% extends 'workflows/modals/modal-base.html' %}
{% load i18n %}
{% block content %}
<h3>{% trans 'Delete action' %} {{ action }}</h3>
<form method="post" action="{{ request.path }}">{% csrf_token %}
    <p>
      {% trans 'Are you sure you want to delete?' %}
    </p>
    <p> 
      <button class="btn btn-outline-primary" data-bs-dismiss="modal" aria-label="Close">{% trans 'Cancel' %}</button>
      <button class="btn btn-outline-primary" type="submit">{% trans 'Save' %}</button>
    </p>
</form>
{% endblock content %}
