{% extends 'workflows/modals/modal-base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
<h3>
  {% if object %}
    {% trans 'Update employee' %} {{ object }}
  {% else %}
    {% trans 'Add a new employee' %}
  {% endif %}
</h3>


<form method="POST" action="{{request.path}}">
{% crispy form %}
</form>

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

<script>
(function($) {
    $('#add-form').click(function() {
        var index = $('#id_inline_test_models-TOTAL_FORMS').val()
        var newTable = $('#id_inline_test_models-__prefix__-DELETE').parents('table').clone()
        newTable.find(':input').each(function() {
            for (attr of ['name', 'id'])
                $(this).attr(
                    attr,
                    $(this).attr(attr).replace('__prefix__', index)
                )
        })
        newTable.insertBefore($(this))
        $('#id_inline_test_models-TOTAL_FORMS').val(
            parseInt($('#id_inline_test_models-TOTAL_FORMS').val()) + 1
        )
        newTable.slideDown()
    })
})($)
</script>

{{ form.media }}
{% endblock %}
