{% extends 'workflows/modals/modal-base.html' %}
{% block content %}
{% load i18n %}
<h3>{% trans 'Delete profile ' %} {{ profile }}</h3>
<form action="{{ request.path }}" method="post">{% csrf_token %}
    <p>
      {% trans 'Are you sure you want to delete it?' %}
    </p>
    <p>
      {% trans 'This will also delete all actions assigned to this person.' %}
    </p>
    <p> 
      <a class="btn btn-outline-primary" href="{% url 'workflows:profile-list' tenant.id %}">{% trans 'Cancel' %}</a>
      <input class="btn btn-outline-primary" type="submit" value="{% trans 'OK' %}">
    </p>
</form>
{% endblock content %}
