{% extends 'workflows/modals/modal-base.html' %}
{% load i18n %}
{% block content %}
<h3>{% trans 'Delete responsible' %} {{ responsible }}</h3>
<form method="post" action="{{ request.path }}">{% csrf_token %}
    <p>
      {% trans 'Are you sure you want to delete?' %}
    </p>
    <p> 
      <a class="button btn btn-secondary" href="{% url 'workflows:workflow-detail' tenant.id responsible.activity.step.workflow_id %}">Cancel</a>
      <input class="button btn btn-primary" type="submit" value="OK">
    </p>
</form>
{% endblock content %}
