{% extends 'workflows/modals/modal-base.html' %}
{% block content %}
{% load i18n %}
<h3>{% trans 'Delete routine' %} {{ routine }}</h3>
<form action="{{ request.path }}" method="post">{% csrf_token %}
    <p>
      {% trans 'Are you sure you want to delete it?' %}
    </p>
    <p>
      {% trans 'This will also delete all the steps, activities, and actions inside the routine.' %}
    </p>
    <p> 
      <a class="btn btn-outline-primary" href="{% url 'workflows:service-routine-list' tenant.id routine.service_id %}">Cancel</a>
      <input class="btn btn-outline-primary" type="submit" value="OK">
    </p>
</form>
{% endblock content %}
