{% extends 'workflows/modals/modal-base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
<h3>
  {% if object %}
    {% trans 'Update service' %} {{ object }}
  {% else %}
    {% trans 'Create new service' %}
  {% endif %}
</h3>
{% if not object %}
<p>
You can think of a service as a collection of related workflows.
</p>

<p>
Some possible categorizations of services: organization units, virtual teams, functions, etc.
</p>
{% endif %}
<form method="POST" action="{{request.path}}">
{% crispy form %}
</form>
{% endblock %}
