{% extends "xref/base.html" %}
{% load i18n %}
{% load xref %}
{% block content %}
<div class="container-fluid p-3 overflow-auto">

<h1>{% trans 'Cross-reference' %} {{ xref.name }} <a class="btn btn-outline-primary open-popup" data-popup-url="{% url 'xref:cross-reference-update' xref.id %}" href="{% url 'xref:cross-reference-update' xref.id %}"><i class="bi bi-pencil"></i></a> <a class="btn btn-outline-primary open-popup" data-popup-url="{% url 'xref:cross-reference-delete' xref.id %}" href="{% url 'xref:cross-reference-delete' xref.id %}"><i class="bi bi-trash3"></i></a><a class="btn btn-outline-primary mx-1 open-popup" data-popup-url="{% url 'xref:section-create' xref.id %}" href="{% url 'xref:section-create' xref.id %}"><i class="bi bi-plus"></i></a></h1>

<p class="text-small">
{{ xref.description|linebreaks }}
</p>

<div class="row">
  <div class="col">
    {% component 'xref_document' xref=xref selected_requirement=selected_requirement selected_statement=selected_statement %}
    {% endcomponent %}
  </div>
  {% if selected_requirement %}
  <div class="col">
    {% with statements=selected_requirement.statements.all %}
    {% for statement in statements %}
      {% with prev_statement=statements|prev_item:forloop.counter0 next_statement=statements|next_item:forloop.counter0 %}
        {% statement_is_selected statement selected_statement selected_constraint as is_selected %}
        {% component 'xref_statement_card' statement=statement is_selected=is_selected selected_statement=selected_statement prev_statement=prev_statement next_statement=next_statement selected_constraint=selected_constraint %}
        {% endcomponent %}
      {% endwith %}
    {% endfor %}
    {% endwith %}
  </div>
  {% endif %}
  {% if selected_statement %}
  <div class="col">
    {% with constraints=selected_statement.constraints.all %}
    {% for constraint in constraints %}
      {% with prev_constraint=constraints|prev_item:forloop.counter0 next_constraint=constraints|next_item:forloop.counter0 %}
        {% constraint_is_selected constraint selected_constraint as is_selected %}
        {% component 'xref_constraint_card' constraint=constraint is_selected=is_selected selected_statement=selected_statement selected_constraint=selected_constraint prev_constraint=prev_constraint next_constraint=next_constraint %}
        {% endcomponent %}
      {% endwith %}
    {% endfor %}
    {% endwith %}
  </div>
  {% endif %}
</div>
</div>
{% include 'xref/fragments/modal.html' with modal_size='xl' %}
{% endblock %}

{% block footer-scripts %}
<script>
  $('#popup').on('show.bs.modal', function () {
    console.log("modal shown");
  });
</script>
{% endblock footer-scripts %}
