{% extends "xref/base.html" %}
{% load i18n %}
{% load xref %}
{% block content %}
<div class="container-fluid p-3 overflow-auto">

<h1>{% trans 'Cross-reference' %} {{ xref.name }} <a class="btn btn-outline-primary open-popup" data-popup-url="{% url 'xref:cross-reference-update' xref.id %}" href="{% url 'xref:cross-reference-update' xref.id %}"><i class="bi bi-pencil"></i></a> <a class="btn btn-outline-primary open-popup" data-popup-url="{% url 'xref:cross-reference-delete' xref.id %}" href="{% url 'xref:cross-reference-delete' xref.id %}"><i class="bi bi-trash3"></i></a><a class="btn btn-outline-primary mx-1 open-popup" data-popup-url="{% url 'xref:section-create' xref.id %}" href="{% url 'xref:section-create' xref.id %}"><i class="bi bi-plus"></i></a></h1>

<p class="text-small">
{{ xref.description|linebreaks }}
</p>

{% component 'xref' xref=xref selected_requirement=selected_requirement selected_statement=selected_statement selected_constraint=selected_constraint %}
{% endcomponent %}
</div>
{% include 'xref/fragments/modal.html' with modal_size='xl' %}
{% endblock %}

{% block footer-scripts %}
<script>
  $('#popup').on('show.bs.modal', function () {
    console.log("modal shown");
  });
</script>
{% endblock footer-scripts %}
