{% extends "xref/base.html" %}
{% load i18n %}
{% load breadcrumbs %}
{% block content %}
<section class="app">
<div class="container">
<h3>{% trans 'Standards' %}</h3>
{% for standard in standards %}
  {% include 'xref/fragments/standard.html' with standard=standard only %}
{% empty %}
  <p>
    {% trans 'There are no standards.' %}
  </p>
  <p>
    {% trans 'You should create a new standard for each cross-referencing project you want to create.' %}
  </p>
{% endfor %}
<p>
  <a class="btn btn-primary open-popup" data-popup-url="{% url 'xref:standard-create' %}" href="{% url 'xref:standard-create' %}">{% trans 'Create a new standard' %}</a>
</p>
</div>
</section>
{% include 'xref/fragments/modal.html' %}
{% endblock %}
