{% extends "xref/base.html" %}
{% load i18n %}
{% load breadcrumbs %}
{% block content %}
<section class="app">
<div class="container">

<h1>{% trans 'Standard' %} {{ standard.name }} <a class="btn btn-primary open-popup" data-popup-url="{% url 'xref:standard-update' standard.id %}" href="{% url 'xref:standard-update' standard.id %}"><i class="bi bi-pencil"></i></a>
<p class="text-small">
{{ service.description|linebreaks }}
</p>
{% include 'xref/fragments/standard-controls.html' with standard=standard only %}
</section>
{% include 'xref/fragments/modal.html' with modal_size='xl' %}
{% endblock %}

{% block footer-scripts %}
<script>
  $('#popup').on('show.bs.modal', function () {
    console.log("modal shown");
  });
</script>
{% endblock footer-scripts %}
