{% load component_tags %}
{% load i18n %}
<div class="board_list">
    <div class="bg-primary-subtle list p-3 mx-3 my-3" id="{{ list.pk }}">
      <div class="list-handle tw-cursor-grab d-flex align-items-center justify-content-between">
        <h2>
            <span>{{ list.name }}</span>
            {% if board.show_list_count %}
              <span class="badge rounded-pill bg-primary">{{ list.tasks.count }}</span>
            {% endif %}
            <button type="button" class="btn btn-outline-primary" {% if list.tasks.count > 0 %}disabled data-bs-toggle="tooltip" title="{% trans 'Only empty lists can be deleted' %}" {% endif %} hx-post="{% url 'boards:delete_list' tenant_id board.board_type board.pk list.pk %}" hx-confirm="Are you sure?"><i class="bi bi-trash3"></i></button>
            {% if list.list_type == 'sprint' %}
              {% if list.is_first_inactive_sprint_for_team %}
                <button type="button" class="btn btn-outline-primary" hx-swap="outerHTML" hx-target="closest .board_list" hx-post="{% url 'components:board-list' tenant_id 'start-sprint' %}" hx-vals='{"board_id": "{{ board.pk | escapejs }}", "list_id": "{{ list.pk | escapejs }}"}'>{% trans 'Start sprint' %}</button>
              {% elif list.status == 'ongoing' %}
                <button type="button" class="btn btn-outline-primary" hx-swap="outerHTML" hx-target="closest .board_list" hx-post="{% url 'components:board-list' tenant_id 'end-sprint' %}" hx-vals='{"board_id": "{{ board.pk | escapejs }}", "list_id": "{{ list.pk | escapejs }}"}'>{% trans 'End sprint' %}</button>
              {% endif %}
            {% endif %}
        </h2>

    </div>

    <div class="sortable-tasks my-3">
      {% for task in list.tasks.all %}
        {% component "board_task" board=board list=list task=task %}
        {% endcomponent %}
      {% endfor %}
    </div>

    <div x-data="{open: false}" @keydown.escape.window="open=false">
        <button type="button" class="create-task-button btn btn-outline-primary"
            @click="open=true; $refs.input.value = ''; $nextTick(() => $refs.input.focus())" x-show="!open">+ {% trans 'Add task' %}</button>

        <form x-show="open" @click.outside="open=false" hx-post="{% url 'boards:create_task' tenant_id board.board_type board.pk list.pk %}" hx-trigger="submit, keyup[key=='Enter']" hx-target="this">
            <div class="d-inline-block"> 
                <input type="text" x-ref="input" name="name" rows="1" placeholder="{% trans 'Task name' %}" required id="id_name"
                class="form-control"></textarea>
                <div class="tw-mt-4 tw-flex tw-items-center tw-space-x-1">
                    <button class="btn btn-outline-primary" type="submit">
                        Save
                    </button>
                    <button type="button" @click="open=false" class="btn btn-outline-secondary">Cancel</button>
              </div>
          </div>
      </form>
    </div>


  </div>
</div>
