{% load i18n %}
{% load boards %}
{% load component_tags %}
<div id="board">
  <h1>{{ board.name }}</h1>
  <div class="mb-5 sortable-lists row">
    {% for list in lists.all %}
      <div class="{{ board|board_css_class:forloop.last }}">
        {% component "board_list" board=board list=list %}
        {% endcomponent %}
      </div>
    {% endfor %}

      <div x-cloak x-data="{open: false}" @keydown.escape.window="open=false" class="col-auto">
        <h2>
          <button type="button" class="create-list-button btn btn-outline-primary"
              @click="open=true; $refs.input.value = ''; $nextTick(() => $refs.input.focus())" x-show="!open">+ {% trans 'Add list' %}</button>
        </h2>
    
            <form class="create-list-form" x-show="open" @click.outside="open=false" hx-post="{% url 'boards:create_list' tenant_id board.board_type board.pk %}" hx-target="this">
                <div class="tw-form bg-white p-4 d-inline-block">
                    <input type="text" hx-trigger="keyup[enterKey]" x-ref="input" name="name" class="form-control" placeholder="{% trans 'Name' %}" required id="id_name">
                    <div class="tw-mt-4 tw-flex tw-items-center tw-space-x-1">
                        <button class="btn btn-outline-primary" type="submit">
                            {% trans 'Save' %}
                        </button>
                        <button type="button" title="Delete" @click="open=false" class="btn btn-outline-primary">
                            <i class="bi bi-trash3"></i>
                        </button>
                  </div>
              </div>
          </form>
        </div>
    </div>
</div>
<script>
htmx.onLoad(function (content) {
  console.log("FOO");
  htmx.logAll();
  content.querySelectorAll(".sortable-tasks").forEach(function (sortable) {
    console.log("found sortable task");
    new Sortable(sortable, {
      forceFallback: true,
      animation: 0,
      group: "tasks",
      chosenClass: "sortable-chosen",
      ghostClass: "sortable-ghost",
      dragClass: "sortable-drag",
      onChoose: function(e) {
        e.target.classList.add('grabbing');
      },
      onUnchoose: function(e) {
        e.target.classList.remove('grabbing');
      },
      onStart: function(e) {
        e.target.classList.add('grabbing');
      },
      onMove: function(e) {
        e.target.classList.add('grabbing');
      },
      onEnd: function (event) {
        event.target.classList.remove('grabbing');
        htmx.ajax("POST", "{% url 'boards:task_move' tenant_id board.board_type board.pk %}", {
          target: "#board",
          swap: "outerHTML",
          values: {
            from_list: event.from.closest(".list").id,
            to_list: event.to.closest(".list").id,
            item: event.item.id,
            task_uuids: Array.from(event.to.querySelectorAll(".task")).map(div => div.id)
          }
        })
      }
    })
  })

  content.querySelectorAll(".sortable-lists").forEach(function (sortable) {
    console.log("found sortable list");
    new Sortable(sortable, {
      forceFallback: true,
      animation: 0,
      group: "lists",
      handle: ".list-handle",
      ghostClass: "sortable-ghost",
      dragClass: "none",
      onEnd: function (event) {
        htmx.ajax("POST", "{% url 'boards:list_move' tenant_id board.board_type board.pk %}", {
          target: "#board",
          swap: "outerHTML",
          values: {
            list_uuids: Array.from(content.querySelectorAll(".sortable-lists .list")).map(div => div.id)
          }
        })
      }
    }) 
  })
})
</script>
