{% load compliances %}
{% load boards %}
<div class="task card my-2" id="{{ task.pk }}">
  <div class="card-body pt-3 pb-2" style="{{ task | task_style }}">
    <div class="row">
        <a href="#" class="card-text text-reset text-decoration-none"
            hx-get="{% url 'boards:task_modal' tenant_id board.board_type task.pk %}"
            hx-swap="beforeend"
            hx-target="body"
            hx-trigger="click">
        <span class="card-text">{{ task.name }}</span></a>
    </div>
    <div class="mt-3 mb-0 d-flex d-flex-row justify-content-between align-items-center">
      <div class="align-middle">
        {% if task.task_type == 'story' %}
          {{ task.constraint | constraint_status_small }}
        {% endif %}
        <span class="align-middle mx-2">{{ task.get_task_id }}</span>
        {% if task.task_type == 'story' %}
          {{ task | compliances_story_category }}
        {% endif %}
      </div>
      <div class="align-middle">
        {% if task.task_type == 'story' %}
          {{ task | task_priority }}
        {% endif %}
        {% if task.description %}
          <i class="align-middle bi bi-card-text fs-3 m-2"></i>
        {% endif %}
        <span class="pb-3">
          {{ task | task_story_points }}
        </span>
      </div>
    </div>
  </div>
</div>
