{% load compliances %}
{% for section in sections.all %}
<fieldset class="border rounded-3 py-1 p-2 d-inline-block">
  <legend class="float-none w-auto px-1 fs-6">
    {{ section.domain.doc }} {{ section.docid }} {{ section.title }}
  </legend>
  {% for requirement in section.requirements.all %}
    {% for constraint in requirement.statement.constraints %}
      {{ constraint | constraint_status }}
    {% endfor %}
  {% endfor %}
  {% include 'projects/fragments/audit_dashboard.html' with sections=section.subsections only %}
</fieldset>
{% endfor %}
