{% load i18n %}
{% load compliances %}
<div id="data">
<table class="table">
  <tbody>
    {% for dm in domain.data_managements.all %}
    <tr>
      <td>
        {{ dm.get_entity_name }}
      </td>
      <td>
        <select class="form-select border-dark" aria-label="Policy" hx-post="{% url 'compliances:data-management-policy' tenant_id dm.id %}" hx-swap="none">
          <option {% if policy.policy == 'not-defined' %}selected{% endif %} value="not-defined">{% trans 'Select data management policy' %}</option>
          <option {% if policy.policy == 'manual' %}selected{% endif %} value="manual">{%  trans 'Manual' %}</option>
          <option {% if policy.policy == 'linked' %}selected{% endif %} value="linked">{% trans 'Linked' %}</option>
          <option {% if policy.policy == 'replicated' %}selected{% endif %} value="replicated">{% trans 'Replicated' %}</option>
          <option {% if policy.policy == 'not-defined' %}managed{% endif %} value="managed">{% trans 'Managed' %}</option>
        </select>
      </td>
      <td>
        <select class="form-select border-dark" aria-label="Team" hx-post="{% url 'compliances:data-management-team' tenant_id dm.id %}" hx-swap="none">
          <option {% if not dm.team %}selected{% endif %}>Select responsible team</option>
          {% for team in project.teams.all %}
            <option {% if dm.team == team %}selected{% endif %} value="{{ team.id }}">{{ team.name }}</option>
          {% endfor %}
        </select>
      </td>
    </tr>
    {% endfor %}

    <tr x-cloak x-data="{open: false}" @keydown.escape.window="open=false">
      <td>
        <h2>
          <button type="button" class="create-team-button btn btn-outline-primary btn-sm"
              @click="open=true; $refs.input.value = ''; $nextTick(() => $refs.input.focus())" x-show="!open">+ Add entity to be managed</button>
        </h2>
    
        <form class="create-team-form" x-show="open" @click.outside="open=false" hx-post="{% url 'compliances:project-create-team' tenant_id project.id %}" hx-target="this">
          <div class="form-group d-inline-block">
            <div class="d-flex align-items-center">
              <input type="text" hx-trigger="keyup[enterKey]" x-ref="input" name="name" class="form-control form-control-sm mx-1" placeholder="{% trans 'Name' %}" required id="id_label">
              <button class="mx-1 btn btn-outline-primary btn-sm" type="submit">
                {% trans 'Save' %}
              </button>
              <button type="button" title="Cancel" @click="open=false" class="mx-1 btn btn-outline-primary btn-sm">
                {% trans 'Cancel' %}
              </button>
            </div>
          </div>
        </form>
      </td>
    </tr>
  </tbody>
</table>
</div>
