{% if level < 6 %}
<h{{ level }}>
  {{ section.id }} {{ section.doc }} {{ section.docid }} {{ section.title }}
</h{{ level }}>
{% else %}
<p>
{{ section.id }} {{ section.doc }} {{ section.docid }} {{ section.title }}
</p>
{% endif %}
{% for subsection in section.subsections.all %}
  {% include 'compliances/_spec_section.html' with section=subsection level=level|add:"1" only %}
  {% for req in subsection.requirements.all %}
    <div class="card">
      <div class="card-header">
        [{{ req.id }}] {{ req.doc_id }} {{ req.text }}
      </div>
      <div class="card-body">
      {% for statement in req.statements.all %}
        <p id="{{ statement.id }}">
          [{{ statement.id }}] {{ statement.text }}
        <p>
        <ul>
        {% for constraint in statement.constraints %}
          <li id="{{ constraint.id }}">
            [{{ constraint.id }}] {{ constraint.text }}
          </li>
        {% endfor %}
        </ul>
      {% endfor %}
      </div>
    </div>
  {% endfor %}
{% endfor %}
