{% extends "compliances/base.html" %}
{% load i18n %}
{% load compliances %}
{% load breadcrumbs %}
{% block content %}
<section class="app">
<div class="container">
<h3>{% trans 'Compliance domains' %}</h3>
  {% for domain in domains %}
  <h3 class="mb-0"><a href="{% url 'compliances:domain-dashboard' tenant.id domain.id %}">{{ domain.name }}</a></h3>
  <small class="mt-0 text-muted">{{ domain.description }}
  </small>
  {% endfor %}
</div>
</section>
{% include 'compliances/fragments/modal.html' %}
{% endblock %}
