{% extends "compliances/base.html" %}
{% load i18n %}
{% load breadcrumbs %}
{% load constraint %}
{% block content %}
<div class="container-fluid m-5">

{% with domain=project.domains.all.0 %}
{% include 'compliances/fragments/compliances-tabs.html' %}
<h1 class="mb-3 pb-0">{% trans 'Setup' %} {{ project.name }} {% trans 'scope for domain' %} {{ domain.name }}</h1>
<p>
{% blocktrans %}
Define the project scope by listing the targets for you wish to verify for the compliance. The targets are used when 
automatically creating high-level work packages (Epics). Some examples of possible targets include IT systems, 
processes, organizations.
{% endblocktrans %}
</p>
{% include 'compliances/_targets.html' with tenant_id=tenant.id project=project targets=targets domain=domain root_sections=root_sections only %}
<a href="{% url 'compliances:domain-dashboard' tenant.id domain.id %}" class="btn btn-outline-primary">{% trans 'Continue' %}</a>
</div>
{% endwith %}
{% endblock %}
