{% extends "compliances/base.html" %}
{% load i18n %}
{% load breadcrumbs %}
{% load constraint %}
{% block content %}
<div class="container">
<section class="app">
{% breadcrumbs tenant True 'compliances' %}
{% with domain=project.domains.all.0 %}
<h1 class="mb-3 pb-0">{% trans 'Setup' %} {{ project.name }} {% trans 'for domain' %} {{ domain.name }}</h1>
{% include 'compliances/_targets.html' with tenant_id=tenant.id project=project targets=targets domain=domain root_sections=root_sections only %}
{% include 'compliances/_teams.html' with tenant_id=tenant.id project=project teams=teams domain=domain ordered_categories=ordered_categories only %}
<a href="{% url 'compliances:domain-list' tenant.id %}" class="btn btn-outline-primary">{% trans 'Continue' %}</a>
</section>
</div>
{% endwith %}
{% endblock %}
