{% extends "compliances/base.html" %}
{% load i18n %}
{% load breadcrumbs %}
{% load constraint %}
{% block content %}
<div class="container-fluid p-5 overflow-auto">
{% with domain=project.domains.all.0 %}
{% include 'compliances/fragments/compliances-tabs.html' %}
<h1 class="mb-3 pb-0">{% trans 'Setup teams for project' %} {{ project.name }}</h1>
<p>
{% blocktrans %}
Define the teams participating in this project. You need to define which team is responsible for 
each deployment category. Exactly one team must be responsible for a single category.
{% endblocktrans %}
</p>
{% include 'compliances/_teams.html' with tenant_id=tenant.id project=project teams=teams domain=domain ordered_categories=ordered_categories only %}
<a href="{% url 'compliances:domain-dashboard' tenant.id domain.id %}" class="btn btn-outline-primary">{% trans 'Continue' %}</a>
</div>
{% endwith %}
{% endblock %}
