{% extends "compliances/base.html" %}
{% load i18n %}
{% load compliances %}
{% load breadcrumbs %}
{% block content %}
<div class="container-fluid m-5">
{% include 'compliances/fragments/compliances-tabs.html' %}

<h3 class="mt-3">{{ domain.name }}</h3>
{% with project=domain.projects.all.first %}
{% if domain.is_project_backlog_created %}
<div class="row">
  {% if project.roadmap %}
  <div class="col-4">
    <h5>Project</h5>
    {% component "burndown" tenant_id=tenant.id object=project index=1 %}
    {% endcomponent %}
  </div>
  {% endif %}
  {% if project.current_release %}
  <div class="col-4">
    <h5>Release</h5>
    {% component "burndown" tenant_id=tenant.id object=project.current_release index=2 %}
    {% endcomponent %}
  </div>
  {% endif %}
  {% for sprint in project.get_active_sprints %}
    <div class="col-4">
      <h5>{{ sprint.name }}</h5>
      {% with idx=forloop.counter|add:"3" %}
      {% component "burndown" tenant_id=tenant.id object=sprint index=idx %}
      {% endcomponent %}
      {% endwith %}
    </div>
  {% endfor %}
</div>
{% endif %}
<div class="row mt-5">
  {% if domain %}
  <div class="col-5">
    {% include 'compliances/fragments/deployment-status.html' with domain=domain project=project %}
  </div>
  <div class="col-7">
    {% component "lightboard" tenant_id=tenant.id domain=domain %}
    {% endcomponent %}

    {% comment %}
    {% include 'compliances/fragments/audit-lightboard.html' with domain=domain sections=domain.root_sections level=0 only %}
    {% endcomment %}
  </div>
  {% endif %}
</div>
{% endwith %}
</div>
{% include 'compliances/fragments/modal.html' %}
{% endblock %}
