{% extends "compliances/base.html" %}
{% load i18n %}
{% load compliances %}
{% load breadcrumbs %}
{% block content %}
<div class="container-fluid p-5 overflow-auto">
<h1>{% trans 'Compliance domains' %}</h1>
<div class="row">
{% for domain in domains %}
<div class="col-3" style="min-width: 18rem">
<div class="card">
  <div class="card-header bg-primary">
    <div class="card-text">
      <h5><a class="text-white" href="{% url 'compliances:domain-dashboard' tenant.id domain.id %}">{{ domain.name }}</a></h5>
    </div>
  </div>
  <div class="card-body bg-primary-subtle">
    <small class="mt-0 card-text text-muted">{{ domain.description }}</small>
  </div>
</div>
</div>
{% endfor %}
</div>
</div>
{% include 'compliances/fragments/modal.html' %}
{% endblock %}
