{% extends "compliances/base.html" %}
{% load i18n %}
{% load breadcrumbs %}
{% load constraint %}
{% block content %}
<div class="container-fluid p-5 overflow-auto">
{% with domain=project.domains.all.0 %}
{% include 'compliances/fragments/compliances-tabs.html' %}
<h1 class="mb-3 pb-0">{% trans 'Setup data management for the project' %} {{ project.name }}</h1>
<p>
{% blocktrans %}
Define how each type of data needed by this domain is managed. The user interface adapts dynamically to the data 
management policy for each entity type. For example, if you choose "managed", you can modify the data in this tool, 
but if you choose "replicated", you can only view the data in this tool.
{% endblocktrans %}
</p>
<p>
{% blocktrans %}
Note: The policy is shared between domains.
{% endblocktrans %}
</p>
<p>
<table>
  <tr>
    <td class="align-top px-4">
      <strong>{% trans 'Manual' %}</strong>
    </td>
    <td class="align-top">
      <p>
        {% blocktrans %}
        The requirements are verified manually and a text field explaining how to verify the data is stored in this system. Choose this when 
        the data is in a system that does not support deep linking.
        {% endblocktrans %}
      </p>
    </td>
  </tr>

  <tr>
    <td class="align-top px-4">
      <strong>{% trans 'Link' %}</strong>
    </td>
    <td class="align-top">
      <p>
        {% blocktrans %}
        The requirements are verified manually and a deep link to the entity is stored in this system. Choose this when the data is 
        in a system that supports deep linking, but you do not want to integrate the system.
        {% endblocktrans %}
      </p>
    </td>
  </tr>

  <tr>
    <td class="align-top px-4">
      <strong>{% trans 'Replicate' %}</strong>
    </td>
    <td class="align-top">
      <p>
        {% blocktrans %}
        The entities are replicated into this system. The requirements link to the local copy of entity. You must implement integration from the source system to this system.
        {% endblocktrans %}
      </p>
    </td>
  </tr>

  <tr>
    <td class="align-top px-4">
      <strong>{% trans 'Manage' %}</strong>
    </td>
    <td class="align-top">
      <p>
        {% blocktrans %}
        The entities are mastered in this system or they are synchronized by manually editing this system. Choose this 
        when the data does not exist in any other system. Be advised that you need to make sure that 
        data is synchronized.
        {% endblocktrans %}
      </p>
    </td>
  </tr>
</table>

{% include 'compliances/_data_management.html' with tenant_id=tenant.id project=project domain=domain policies=policies only %}

<a href="{% url 'compliances:domain-dashboard' tenant.id domain.id %}" class="btn btn-outline-primary">{% trans 'Continue' %}</a>
</div>
{% endwith %}
{% endblock %}
