{% extends "compliances/base.html" %}
{% load i18n %}
{% load breadcrumbs %}
{% load constraint %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid m-5">

{% include 'compliances/fragments/compliances-tabs.html' %}

<h1 class="mb-3 pb-0">{% trans 'Create a roadmap for' %} {{ project.name }}</h1>

<div class="row">
  <div class="col-6">
    <p>
    <small>
    {% blocktrans %}
    On this page, you can create an initial roadmap for the project. Initial roadmap will contain
    releases and epics based on the project parameters and your audit targets. Epics will be automatically placed 
    to the releases. You can refine the roadmap on the roadmap board, including moving epics between releases,
    after the initial roadmap has been created. 
    {% endblocktrans %} </small> </p>

    <form method="post" action="{{request.path}}">
      {% csrf_token %}
      <table class="table">
        <tr>
          <th>
            {% trans 'Project prefix' %}
          </th>
          <td>
            {{ project.prefix }}-
          </td>
        </tr>
        <tr>
          <th>
            {% trans 'Start date' %}
          </th>
          <td>
            {{ project.start_date }}
          </td>
        </tr>
        <tr>
          <th>
            {% trans 'Release length (in days)' %}
          </th>
          <td>
            {{ project.release_length_in_days }}
          </td>
        </tr>
        <tr>
          <th>
            {% trans 'Epics in release' %}
          </th>
          <td>
            {{ project.epics_per_release }}
          </td>
        </tr>
      </table>

      <input type="submit" name="Preview" class="btn btn-primary" value="{% trans 'Preview' %}"/>
      <input type="submit" name="create" class="btn btn-primary" value="{% trans 'Create' %}"/>
    </form>
  </div>
  <div class="col-6">
  {% if releases %}
    <h3>{% trans 'Preview' %} {{ project.name }}</h3>

    {% for release in releases %}
    <h5>{{ release.name }}</h5>
    <small>
      {{ release.start_date }} &mdash; {{ release.end_date }}
    </small>
    <ul>
      {% for epic in epics|dict_key:release.name %}
      <li>
        {{ epic.name }}
      </li>
      {% endfor %}
    </ul>
    {% endfor %}
  {% endif %}
  </div>
</div>

</div>
{% endblock %}
