{% load by_status %}
{% load component_tags %}
<form class="sortable status_board_column bg-primary px-3 py-1 m-1 h-100 hx-post="components:status-board-items column_slug" hx-trigger="end">
  <input type="hidden" name="root_id" value="{{ root_id }}"/>
  <input type="hidden" name="column_slug" value="{{ column_slug }}"/>
  <center>
    <h3 class="mt-2 mb-3 text-white">{{ column.name }}</h3>
  </center>
  <div class="htmx-indicator">Updating...</div>
  {% for entity in entities %}
    <div class="card border-dark mb-3 bg-light">
      <input type="hidden" name="id" value="{{ entity.id }}"/>
      <div class="card-header">
        <div class="card-text text-wrap">
          {{ entity.text }}
        </div>
      </div>
      <div class="card-body">
        <div class="card-text text-wrap">
          {{ entity.description }}
        </div>
      </div>
    </div>
  {% endfor %}
</form>
