.composition_search {
  //position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.composition_search div.result-item {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  color: #000000; 
  border-bottom: 1px solid #d4d4d4; 
}

.composition_search div:hover.result-item {
  background-color: #36589C;
  opacity: 0.65;
}

.composition_search .result-item.selected {
  background-color: #36589C;
  color: #ffffff; 
}

.composition_search .result-item.selected .badge {
  //color: #36589C;
  //opacity: 1;
  //color: #36589C;
  background-color: white; 
  //background-color: #ffffff; 
}
