{% load component_tags %}
<div 
  x-data="{
      open: false,
      search: null,
      planned_date: null,
      parent_selected: null,
      selected_id: null,
      selected_index: -1,
      highlighted_index: -1,
      setSelected(elem) {
        console.log('select', elem);
        this.parent_selected = {
            'id': elem.getAttribute('data-item-id'),
            'name': elem.getAttribute('data-item-name'),
            'type': elem.getAttribute('data-item-type'),
            'index': elem.getAttribute('data-item-index'),
        };
        this.clear(true);
        console.log('/select');
      },
      clear(emptySearch) {
        console.log('clear');
        this.open = false;
        if (emptySearch) {
            this.search = null;
        }
        this.selected_id = null;
        this.highlighted_index = -1;
        console.log('/clear');
      },
      highlightNext() {
        console.log('highlightNext');
        if (this.highlighted_index < this.$refs.typeahead_results.children.length - 1) {
          console.log('match highlightNext');
          this.highlighted_index = this.highlighted_index + 1;
          this.scrollIntoView();
          var elem = this.$refs.typeahead_results.children[this.highlighted_index];
        }
        console.log('/highlightNext');
      },
      highlightPrevious() {
        console.log('highlightPrevious');
        if (this.highlighted_index > 0) {
          console.log('match highlightPrevious')
          this.highlighted_index = this.highlighted_index - 1;
          this.scrollIntoView();
          var elem = this.$refs.typeahead_results.children[this.highlighted_index];
        }
        console.log('/highlightPrevious');
      },
      closeResults() {
          console.log('closeResults');
          //this.open = false;
          this.clear(false);
          console.log('/closeResults');
      },
      openResults() {
          console.log('openResults');
          this.open = true;
          if (this.$refs && this.$refs.typeahead_results.children.length > 0) {
              var elem = this.$refs.typeahead_results.children[0];
              this.highlighted_index = 0;
          }
          console.log('/openResults');
      },
      scrollIntoView() {
        if (this.$refs.typeahead_results) {
            this.$refs.typeahead_results.children[this.highlighted_index].scrollIntoView({
              block: 'nearest',
              behavior: 'smooth'
            });
        }
      },
      keyboardSelect(event) {
        var index = this.highlighted_index;
        console.log('keyboardSelect', index);
        if (index > -1) {
            event.stopPropagation();
            event.preventDefault();
            var results = this.$refs.typeahead_results;
            console.log('results ', results);
            if (results.children.length >= index + 1) {
                console.log('child element exists', results);
                var elem = results.children[index];
                console.log('elem', elem);
                if (elem != null) {
                    console.log('setSelected', elem);
                    this.setSelected(elem);
                }
            }
        }
        console.log('/keyboardSelect');
      },
      mouseSelect(index) {
        var elem = this.$refs.typeahead_results.children[index];
        console.log('mouseSelect');
        //console.log(elem);
        this.highlighted_index = index;
        console.log(this.highlighted_index);
        console.log(this.selected_id);
        var selected_id = this.selected_id;
        this.setSelected(elem);
        console.log('/mouseSelect');
      },
      showResults() {
        console.log('showResults');
        console.log(this.$refs.typeahead_results);
        if (this.$refs.typeahead_results && this.$refs.typeahead_results.children.length > 0) {
            this.openResults();
        } else {
            this.closeResults();
        }
        console.log('/showResults');
      }
    }"
    {% if new_item %}
    x-init="$nextTick(() => {
        parent_selected = {
            'id': '{{ new_item.id | escapejs }}',
            'name': '{{ new_item.name | escapejs }}',
            'type': '{{ target | escapejs }}',
            'index': -1,
        }
    })"
    {% endif %}
    x-modelable="parent_selected"
    x-model="{{ x_model | escapejs }}"
    class="typeahead"
    role="group"
    >
    <form
        hx-post="{% url 'components:typeahead-select' tenant_id %}"
        hx-target="closest .typeahead"
        hx-swap="outerHTML"
        hx-trigger="submit,search">
      <input type="hidden" name="x_model" value="{{ x_model | escapejs }}"/>
      <input type="hidden" name="t" value="{{ target | escapejs }}"/>
      <input type="hidden" name="placeholder" value="{{ placeholder | default:'' | escapejs }}"/>
      <input type="hidden" name="new_item_value" :value="search"/>
      {% comment %}
      {% endcomment %}
      <div class="btn-group mx-1 my-1  d-inline-flex align-items-center">
          <input
            class="search form-control"
            hx-post="{% url 'components:typeahead-search' tenant_id %}"
            hx-trigger="keyup changed delay:500ms"
            hx-target="next .typeahead_results_container"
            hx-swap="innerHTML"
            hx-vals='{"timeline_id": "{{ timeline_id | escapejs }}", "t": "{{ target | escapejs }}"}'
            type="search"
            name="q"
            x-model="search"
            x-on:keydown.enter="keyboardSelect($event)"
            x-on:keydown.arrow-down.stop.prevent="highlightNext($event)"
            x-on:keydown.escape.stop.prevent="closeResults($event)"
            x-on:keydown.arrow-up.stop.prevent="highlightPrevious($event)"
            autofocus
            autocomplete="off"
            placeholder="{{ placeholder | default:'' | escapejs }}"/>
        <button class="btn btn-primary disabled">+</button>
        <button class="btn btn-primary disabled">X</button>
      </div>
      <div 
        class="typeahead_results_container"
        x-show="open"
        x-on:htmx:after-settle="showResults()"
        x-on:click.away="closeResults()">
      </div>
    </form>
</div>
