{% extends "compliances/base.html" %}
{% load i18n %}
{% load breadcrumbs %}
{% load dict_key %}
{% block content %}
<section class="app">
<div class="container">
{% breadcrumbs tenant True 'compliances' %}
<h3>{% trans 'Projects' %}</h3>
  {% for project in projects %}
  <p>
    <h5>{{ project.name }}</h5>
    <a class="btn btn-outline-primary open-popup" data-popup-url="{% url 'projects:project-update' tenant.id project.id %}" href="{% url 'projects:project-update' tenant.id project.id %}">{% trans 'Edit' %}</a>
    <a class="btn btn-outline-primary open-popup" data-popup-url="{% url 'projects:project-delete' tenant.id project.id %}" href="{% url 'projects:project-delete' tenant.id project.id %}">{% trans 'Delete' %}</a>
    {% if project.roadmap %}
    <a class="btn btn-outline-primary" href="{% url 'boards:board' tenant.id project.roadmap.board_type project.roadmap.uuid %}">{% trans 'Roadmap' %}</a>
    {% endif %}
    {% if project.backlog %}
    <a class="btn btn-outline-primary" href="{% url 'boards:board' tenant.id project.board.board_type project.board.id %}">{% trans 'Backlog' %}</a>
    {% endif %}
    {% if project.sprint %}
    <a class="btn btn-outline-primary" href="{% url 'boards:board' tenant.id project.board.board_type project.board.id %}">{% trans 'Sprint' %}</a>
    {% endif %}
  </p>
  {% endfor %}
  <p>
    <a class="btn btn-primary open-popup" data-popup-url="{% url 'projects:project-create' tenant.id %}" href="{% url 'projects:project-create' tenant.id %}">{% trans 'Create a new project' %}</a>
  </p>
</div>
</section>
{% include 'projects/fragments/modal.html' %}
{% endblock %}
