{% extends "compliances/base.html" %}
{% load i18n %}
{% load breadcrumbs %}
{% load dict_key %}
{% block content %}
<section class="app">
<div class="container">
{% breadcrumbs tenant True 'compliances' %}
<h1>{% trans 'Project' %} {{ project.name }} current sprints</h1>

{% for team in project.teams.all %}
  {% if team.current_sprint %}
    <a class="btn btn-outline-primary" href="{% url 'projects:project-sprint' tenant.id project.id team.id %}">{{ team.current_sprint }}</a>
  {% endif %}
{% endfor %}
</div>
</section>
{% include 'projects/fragments/modal.html' %}
{% endblock %}
