{% extends 'boards/base.html' %}
{% load i18n %}
{% load breadcrumbs %}
{% load dict_key %}
{% load component_tags %}
{% load crispy_forms_tags %}
{% block content %}
<section class="app">
<div class="container-fluid">

{% include 'compliances/fragments/compliances-tabs.html' %}

{% comment %}
{% breadcrumbs tenant True 'compliances' %}
<form method="get" action="{% url 'projects:project-backlog' tenant.id project.id %}">
  {% crispy filter.form %}
  <button class="btn btn-outline-primary">{% trans 'Apply' %}</button>
</form>
{% endcomment %}

<div class="mt-3"></div>

{% component "board" board=backlog lists=sprints %}
{% endcomponent %}

</div>
</section>
{% include 'projects/fragments/modal.html' %}
{% endblock %}
