{% extends 'boards/base.html' %}
{% load i18n %}
{% load breadcrumbs %}
{% load dict_key %}
{% load component_tags %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid m-5">

{% include 'compliances/fragments/compliances-tabs.html' %}

{% comment %}
{% breadcrumbs tenant True 'compliances' %}
<form method="get" action="{% url 'projects:project-team-sprint' tenant.id project.id team.id %}">
  {% crispy filter.form %}
  <button class="btn btn-outline-primary">{% trans 'Apply' %}</button>
</form>
{% endcomment %}

<div class="mt-3"></div>

{% component "board" tenant_id=tenant.id board=sprint lists=statuses %}
{% endcomponent %}

</div>
{% component 'modal' %}
{% endcomponent 'modal' %}
{% if open_story_id %}
<div 
  hx-trigger="load" 
  hx-target="#dialog"
  hx-get="{% url 'boards:task_modal' tenant.id 'sprint' open_story_id %}"></div>
{% endif %}
{% endblock %}
