{% extends "compliances/base.html" %}
{% load i18n %}
{% load breadcrumbs %}
{% load dict_key %}
{% block content %}
<section class="app">
<div class="container-fluid">
{% breadcrumbs tenant True 'compliances' %}
<h1>{% trans 'Projects' %}</h1>
  {% for project in projects %}
  <p>
    <h3>
      <a href="{% url 'projects:project-detail' tenant.id project.id %}">{{ project.name }}</a>
      <a class="btn btn-outline-primary open-popup" data-popup-url="{% url 'projects:project-update' tenant.id project.id %}" href="{% url 'projects:project-update' tenant.id project.id %}"><i class="bi bi-pencil"></i></a>
      <a class="btn btn-outline-primary open-popup" data-popup-url="{% url 'projects:project-delete' tenant.id project.id %}" href="{% url 'projects:project-delete' tenant.id project.id %}"><i class="bi bi-trash3"></i></a>
    </h3>
    {% if project.roadmap %}
      {{ project.roadmap }}
      <a class="btn btn-outline-primary" href="{% url 'projects:roadmap' tenant.id project.uuid %}">{% trans 'Roadmap' %}</a>
    {% endif %}
    {% if project.backlog %}
      <a class="btn btn-outline-primary" href="{% url 'projects:backlog' tenant.id project.uuid %}">{% trans 'Backlog' %}</a>
    {% endif %}
    {% for team in project.teams %}
      {% if team.current_sprint %}
        <a class="btn btn-outline-primary" href="{% url 'projects:sprint' tenant.id project.uuid team.id %}">{{ team.current_sprint }}</a>
      {% endif %}
    {% endfor %}
  </p>
  {% endfor %}
  <p>
    <a class="btn btn-outline-primary open-popup" data-popup-url="{% url 'projects:project-create' tenant.id %}" href="{% url 'projects:project-create' tenant.id %}">{% trans 'Create a new project' %}</a>
  </p>
</div>
</section>
{% include 'projects/fragments/modal.html' %}
{% endblock %}
