{% extends "compliances/base.html" %}
{% load i18n %}
{% load breadcrumbs %}
{% load dict_key %}
{% load compliances %}
{% block content %}
<section class="app">
<div class="container">
{% breadcrumbs tenant True 'projects' project 'dashboard' %}

{% include 'projects/fragments/tabs.html' %}

{% if domain %}
{% include 'projects/fragments/audit_dashboard.html' with sections=domain.root_sections only %}
{% endif %}

{% if project.roadmap %}
  <a class="btn btn-outline-primary" href="{% url 'boards:board' tenant.id project.roadmap.board_type project.roadmap.uuid %}">{% trans 'Roadmap' %}</a>
{% endif %}
{% if project.backlog %}
  <a class="btn btn-outline-primary" href="{% url 'boards:board' tenant.id project.backlog.board_type project.backlog.uuid %}">{% trans 'Backlog' %}</a>
{% endif %}
{% if project.current_sprint %}
  <a class="btn btn-outline-primary" href="{% url 'boards:board' tenant.id project.current_sprint.board_type project.current_sprint.uuid %}">{% trans 'Sprint' %}</a>
{% endif %}
</div>
</section>
{% include 'projects/fragments/modal.html' %}
{% endblock %}
