{% load i18n %}
<div class="card task_card">
  <div class="card-header bg-primary">
    <h5>
      <span class="badge text-bg-secondary">{% trans 'Task' %}</span>
      <a class="text-white" href="{% url 'workflows:service-task-detail' tenant.id task.routine.service.id task.id %}">{{ task.name }}</a>
    </h5>
    <p class="text-white-50">
      {% blocktrans with profile_name=task.profile.name routine_name=task.routine.name action_require_tag=task.action_require_tag %}
      Actions in routine "{{ routine_name }}" labeled as "{{ action_require_tag }}"
      and assigned to profile "{{ profile_name }}" 
      {% endblocktrans %}
    </p>
  </div>
  <div class="card-body bg-primary-subtle">
    <span class="card-text">
      <ul>
      {% for action in task.get_actions.all %}
        <li>
          <a href="{% url 'workflows:step-detail' tenant.id action.activity.step_id %}#activity-{{ action.activity.id }}">{{ action.title }}</a>
        </li>
      {% empty %}
        <li>{% trans 'No matches.' %}
      {% endfor %}
      </ul>
    </span>
    <a class="btn btn-outline-primary open-popup" data-popup-url="{% url 'workflows:task-update' tenant.id task.id %}" href="{% url 'workflows:task-update' tenant.id task.id %}">{% trans 'Edit'  %}</a>
    <a class="btn btn-outline-primary open-popup" data-popup-url="{% url 'workflows:task-delete' tenant.id task.id %}" href="{% url 'workflows:task-delete' tenant.id task.id %}">{% trans 'Remove' %}</a>
  </div>
</div>
