{% load i18n %}
{% load component_tags %}

<div class="constraint_references align-self-center"
    x-data="{
        selected: null
    }"
    x-init="
        console.log('selected watcher');
        $watch('selected', () => { console.log('selected changed', selected); $dispatch('selected-trigger'); });
    {% if initial_value and initial_value.id %} 
        $nextTick(() => {
            selected = {
                'id': '{{ initial_value.id | escapejs }}',
                'name': '{{ initial_value.name | escapejs }}',
                'type': '{{ target | escapejs }}',
                'index': -1,
            }   
        })
    {% endif %}
    "
    hx-post="{% url 'components:constraint-references' tenant_id domain.id %}"
    hx-trigger="selected-trigger"
    hx-include="this"
    hx-target="this"
    hx-swap="outerHTML">

    <input type="hidden" name="constraint_id" value="{{ constraint.id }}"/>
    <input type="hidden" name="definition_id" value="{{ definition.id }}"/>
    <input type="hidden" name="selected_id" :value="selected ? selected.id : ''"/>
    <input type="hidden" name="selected_name" :value="selected ? selected.name : ''"/>

    {% if definition.ref_object %}
    <div class="btn-group m-1" role="group">
      <button class="btn btn-primary disabled mx-0">
        {% if definition.ref_plural %}
          {{ definition.ref_entity_type }} | {{ definition.ref_plural_tag.name }} | {{ definition.ref_plural_tag.name }} 
        {% else %}
          {{ definition.ref_object.name }} 
        {% endif %}
      </button>
      <button 
         class="btn btn-primary mx-0"
          hx-delete="{% url 'components:constraint-references' tenant_id domain.id %}"
          hx-trigger="click"
          hx-include="closest .constraint_references"
          hx-target="closest .constraint_references"
          hx-swap="outerHTML">X</button>
    </div>
    {% else %}

    {% if definition.ref_plural %}
    <div x-cloak class="d-inline-flex align-items-center flex-wrap">
      <div class="m-1" x-show="!selected || selected.id == null || selected.id == ''">
        {% component 'typeahead' x-model="selected" target='tags' %}
        {% endcomponent %}
      </div>
    </div>
    {% else %}
    <div x-cloak class="d-inline-flex align-items-center flex-wrap">
      <div class="m-1" x-show="!selected || selected.id == null || selected.id == ''">
        {% component 'typeahead' x-model="selected" target=definition.ref_entity_type %}
        {% endcomponent %}
      </div>
    </div>
    {% endif %}
    {% endif %}
</div>
