{% extends "workflows/base.html" %}
{% load i18n %}
{% load breadcrumbs %}
{% block content %}
<div class="container-fluid m-5">
{% include 'workflows/fragments/service-tabs.html' %}
<h3 class="mt-3">{% trans 'Oganizations' %}</h3>
{% for organization_unit in organization_units %}
<div class="col-3" style="mid-width: 18rem">
<div class="card">
  <div class="card-header bg-primary text-white">
    {{ organization_unit.name }}
  </div>
  <div class="card-footer bg-primary-subtle">
    <a class="btn btn-outline-primary open-popup" data-popup-url="{% url 'workflows:organization-unit-detail' tenant.id organization_unit.id %}" href="{% url 'workflows:organization-unit-detail' tenant.id organization_unit.id %}">{% trans 'Chart'  %}</a>
    <a class="btn btn-outline-primary open-popup" data-popup-url="{% url 'workflows:organization-unit-update' tenant.id organization_unit.id %}" href="{% url 'workflows:organization-unit-update' tenant.id organization_unit.id %}">{% trans 'Edit'  %}</a>
    <a class="btn btn-outline-primary open-popup" data-popup-url="{% url 'workflows:organization-unit-delete' tenant.id organization_unit.id %}" href="{% url 'workflows:organization-unit-delete' tenant.id organization_unit.id %}">{% trans 'Delete' %}</i></a>
  </div>
</div>
{% empty %}
  <p>
  {% trans 'You have not defined any organizations yet.' %}
  </p>
{% endfor %}

<p class="mt-3">
  <a class="btn btn-outline-primary open-popup" data-popup-url="{% url 'workflows:organization-unit-create' tenant.id %}" href="{% url 'workflows:organization-unit-create' tenant.id %}">{% trans 'Create a new organization' %}</a>
</p>
</div>
{% include 'workflows/fragments/modal.html' %}
{% endblock %}
