{% extends "workflows/base.html" %}
{% load i18n %}
{% load breadcrumbs %}
{% block content %}
<div class="container-fluid m-5">
{% include 'workflows/fragments/service-tabs.html' %}
<h3 class="mt-3">{% trans 'Organizations' %}</h3>
{% for organization_unit in organization_units %}
<div class="col-12" style="mid-width: 18rem">
<div class="card mt-3">
  <div class="card-header bg-primary text-white">
    <span class="fs-2">
      {{ organization_unit.name }}
      <a class="btn btn-sm extra-small-btn btn-outline-light mx-1 open-popup" data-popup-url="{% url 'workflows:organization-unit-create-child' tenant.id organization_unit.id %}" href="{% url 'workflows:organization-unit-create-child' tenant.id organization_unit.id %}"><i class="bi bi-plus"></i></a>
    </span>
    <ul class="org-unit-hierarchy list-unstyled">
      {% for ou in organization_unit.children.all %}
        {% include 'workflows/fragments/organization-unit.html' with tenant=tenant organization_unit=ou only %}
      {% endfor %}
    </ul>
  </div>
  <div class="card-footer bg-primary-subtle">
    {% comment %}
    <a class="btn btn-outline-primary" href="{% url 'workflows:organization-unit-detail' tenant.id organization_unit.id %}">{% trans 'Chart'  %}</a>
    {% endcomment %}
    <a class="btn btn-outline-primary open-popup" data-popup-url="{% url 'workflows:organization-unit-update' tenant.id organization_unit.id %}" href="{% url 'workflows:organization-unit-update' tenant.id organization_unit.id %}">{% trans 'Edit'  %}</a>
    <a class="btn btn-outline-primary open-popup" data-popup-url="{% url 'workflows:organization-unit-delete' tenant.id organization_unit.id %}" href="{% url 'workflows:organization-unit-delete' tenant.id organization_unit.id %}">{% trans 'Delete' %}</i></a>
  </div>
</div>
{% empty %}
  <p>
  {% trans 'You have not defined any organizations yet.' %}
  </p>
{% endfor %}

<p class="mt-3">
  <a class="btn btn-outline-primary open-popup" data-popup-url="{% url 'workflows:organization-unit-create' tenant.id %}" href="{% url 'workflows:organization-unit-create' tenant.id %}">{% trans 'Add a new top-level organization' %}</a>
</p>
</div>
{% include 'workflows/fragments/modal.html' %}
{% endblock %}
