{% extends "workflows/base.html" %}
{% load i18n %}
{% load breadcrumbs %}
{% block content %}
<section class="app">
<div class="container">
{% breadcrumbs tenant True 'profiles' %}
<h3>{% trans 'Profiles' %}</h3>
{% for profile in profiles %}
<p>
  <p>
    {{ profile.name }}
    <a class="btn btn-primary open-popup" data-popup-url="{% url 'workflows:profile-update' tenant.id profile.id %}" href="{% url 'workflows:profile-update' tenant.id profile.id %}"><i class="bi bi-pencil"></i></a>
    <a class="btn btn-primary open-popup" data-popup-url="{% url 'workflows:profile-delete' tenant.id profile.id %}" href="{% url 'workflows:profile-delete' tenant.id profile.id %}"><i class="bi bi-trash3"></i></a>
    {% if not forloop.first %}
    <a class="btn btn-primary profile-down" href="{% url 'workflows:profile-up' tenant.id profile.id %}"><i class="bi bi-arrow-up"></i></a>
    {% endif %}
    {% if not forloop.last %}
    <a class="btn btn-primary profile-down" href="{% url 'workflows:profile-down' tenant.id profile.id %}"><i class="bi bi-arrow-down"></i></a>
    {% endif %}
  </p>
</p>
{% empty %}
  <p>
    {% trans 'You have not defined any profiles yet.' %}
  </p>
{% endfor %}
<p>
  <a class="btn btn-primary open-popup" data-popup-url="{% url 'workflows:profile-create' tenant.id %}" href="{% url 'workflows:profile-create' tenant.id %}">{% trans 'Create a new profile' %}</a>
</p>
</div>
</section>
{% include 'workflows/fragments/modal.html' %}
{% endblock %}
