{% extends 'workflows/base.html' %}
{% load i18n %}
{% load indent %}
{% load step_process_badge %}
{% block content %}
<div class="content">
<section class="app">

<h1>
  {{ routine.name }}
</h1>
<p>
  {{ routine.description|linebreaks }}
</p>

{% include 'workflows/fragments/routine-steps-diagram.html' with routine=routine %}

{% for step in routine.steps.all %}
{% with indent=step.process_depth|default:0|indent:40 %}
<div id="step-{{step.id}}" class="">
  <div class="row">
    <div class="col col-md-1">
      <div class="col col-md-8 vertical-step-circle {{ step.process }}-bg">
        <span class="vertical-step-circle-text align-middle">{{ forloop.counter }}</span>
      </div>
    </div>
    <div class="col col-md-11 mt-2">
      <h2>{{ step.name }} {{ step|step_process_badge }}</h2>
    </div>
  </div>

  <div class="row">
    <div class="col col-md-1">{% if not forloop.last %}<div class="vertical-line"></div>{% endif %}</div>
    <div class="col col-md-11">
      <p>{{ step.description|linebreaks }}</p>
      {% for activity in step.activities.all %}
        <h3>{{ activity.name }}</h5>

        <p>{{ activity.description|linebreaks }}</p>

        <h5>{% trans 'Actions' %}</h5>

        {% for action in activity.actions.all %}
          <p>
            <strong>
            {% if action.profile %}
                {{ action.profile }} / {{ action.organization_unit|default:'No organization' }}
            {% else %}
                {{ action.organization_unit|default:'No organization' }}
            {% endif %}
            ({{ action.get_types_display }})
            </strong>
          </p>
          {% for wi in action.work_instructions.all %}
          <p>
            {{ wi.description|linebreaks }}
          </p>
          {% empty %}
          <p>
            {% trans 'No work instructions.' %}
          </p>
          {% endfor %}
        {% empty %}
        <p>
          {% trans 'No actions in this activity.' %}
        </p>
        {% endfor %}
      {% empty %}
        <p>
          {% trans 'No activities in this step.' %}
        </p>
      {% endfor %}
    </div>
  </div>
  {% if not forloop.last %}
  <div class="row spacer">
    <div class="col col-md-1"><div class="vertical-line"></div></div>
    <div class="col col-md-11">
    </div>
  </div>
  {% endif %}
</div>
{% endwith %}
{% endfor %}
</section>
</div>
{% endblock content %}
