{% extends "workflows/base.html" %}
{% load i18n %}
{% load breadcrumbs %}
{% block content %}
<div class="container-fluid m-3">

{% include 'workflows/fragments/service-tabs.html' %}

<div class="mt-3 mb-0">
<h1 class="mb-0">{{ service.name }} <a class="btn btn-sm btn-outline-primary open-popup" data-popup-url="{% url 'workflows:service-update' tenant.id service.id %}" href="{% url 'workflows:service-update' tenant.id service.id %}"><i class="bi bi-pencil"></i></a> {% comment %}<a class="btn btn-sm btn-outline-primary open-popup" data-popup-url="{% url 'workflows:service-share' tenant.id service.id %}" href="{% url 'workflows:service-share' tenant.id service.id %}"><i class="bi bi-share"></i></a>{% endcomment %}</h1>
</div>
<div class="mt-0 small text-muted">
  {{ service.description|linebreaks }}
</div>
{% include 'workflows/fragments/service-customers.html' with tenant=tenant service=service customers=service.customers.all only %}
{% comment %}
{% include 'workflows/fragments/service-profiles.html' with tenant=tenant service=service profiles=service.profiles.all only %}
{% endcomment %}
{% include 'workflows/fragments/service-routines.html' with tenant=tenant service=service routines=service.routines.all only %}
</div>
{% include 'workflows/fragments/modal.html' with modal_size='xl' %}
{% endblock %}

{% block footer-scripts %}
<script>
  $('#popup').on('show.bs.modal', function () {
    console.log("MODAL SHOWN");
  });

  {% if open_share_popup %}
  var popup = $("#popup");
  var popup_url = "{% url 'workflows:service-share' tenant.id service.id %}";
  $(".modal-body", popup).load(popup_url, function () {
    popup.modal("show");
  });
  {% endif %}
</script>
{% endblock footer-scripts %}
