{% extends 'workflows/base.html' %}
{% load i18n %}
{% load step_process_badge %}
{% load breadcrumbs %}
{% load usm %}
{% block content %}
<div class="container-fluid mx-5">

{% include 'workflows/fragments/service-tabs.html' %}

<div class="mt-3"></div>

<h1>
  {{ step.routine.name }}
  <a class="btn btn-outline-primary open-popup" data-popup-url="{% url 'workflows:routine-update' tenant.id step.routine.id %}" href="{% url 'workflows:routine-update' tenant.id step.routine.id %}"><i class="bi bi-pencil"></i></a>
  <a class="btn btn-outline-primary" href="{% url 'workflows:routine-detail-printable' tenant.id step.routine.id %}"><i class="bi bi-printer"></i></a>
  {% if step.routine.can_draw_diagram %}
    <a class="btn btn-outline-primary" target="_blank" href="{% url 'workflows:routine-diagram' tenant.id step.routine.id %}"><i class="bi bi-diagram-3"></i></a>
  {% else %}
    <span data-bs-toggle="tooltip" title="{% trans 'To draw a BPM diagram, the routine must have at least two actions.' %}">
      <button disabled class="btn btn-outline-primary">
        <i class="bi bi-diagram-3"></i>
     </button>
    </span>
  {% endif %}
</h1>
<p>
  {{ step.routine.description|usm_format_links|linebreaks }}
</p>
<div class="row mb-3">
  {% include 'workflows/fragments/routine-steps-diagram.html' with routine=step.routine selected_step=step %}
</div>

<h2 class="d-inline-flex align-items-center">
  <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" hx-post="{% if step.skipped %}{% url 'workflows:step-unskip' tenant.id step.id %}{% else %}{% url 'workflows:step-skip' tenant.id step.id %}{% endif %}" role="switch" {% if not step.skipped %}checked{% endif %}/>
  </div>
  <div>
    <span class="{% if step.skipped %}text-decoration-line-through{% endif %}">
      {{ step.name }} {{ step|step_process_badge }}
    </span>
  </div>
</h2> 

<div class="text-white text-muted small">{{ step.description|usm_format_links|linebreaks }}</div>

{% for activity in step.activities.all %}
  <div id="activity-{{ activity.id }}" class="card bg-dark text-light mb-3">
    <div class="card-header">
      <h5 class="d-inline-flex align-items-center">

        <div class="form-check form-switch">
          <input class="border-white form-check-input" type="checkbox" role="switch" hx-post="{% if activity.skipped %}{% url 'workflows:activity-unskip' tenant.id activity.id %}{% else %}{% url 'workflows:activity-skip' tenant.id activity.id %}{% endif %}" {% if not activity.skipped %}checked{% endif %}/>
        </div>
          <span class="mx-1 {% if activity.skipped %}text-decoration-line-through{% endif %}">
            {{ forloop.counter }}. {{ activity.name }}&nbsp;
          </span>
        <a class="mx-1 btn btn-sm btn-outline-light open-popup" data-popup-url="{% url 'workflows:activity-update' tenant.id activity.id %}" href="{% url 'workflows:activity-update' tenant.id activity.id %}"><i class="bi bi-pencil"></i></a>
        <a class="mx-1 btn btn-sm btn-outline-light open-popup" data-popup-url="{% url 'workflows:activity-delete' tenant.id activity.id %}" href="{% url 'workflows:activity-delete' tenant.id activity.id %}"><i class="bi bi-trash3"></i></a>
        {% if not forloop.first %}
        <a class="mx-1 btn btn-sm btn-outline-light activity-down" href="{% url 'workflows:activity-up' tenant.id activity.id %}"><i class="bi bi-arrow-up"></i></a>
        {% endif %}
        {% if not forloop.last %}
        <a class="mx-1 btn btn-sm btn-outline-light activity-down" href="{% url 'workflows:activity-down' tenant.id activity.id %}"><i class="bi bi-arrow-down"></i></a>
        {% endif %}
      </h5>
      <div class="activity-description">
        {{ activity.description|usm_format_links|linebreaks }}
      </div>
    </div>
    <div class="card-body bg-primary-subtle text-black">
      {% include 'workflows/fragments/actions.html' with tenant=tenant actions=activity.actions only %}
      <a class="mt-3 btn btn-outline-primary open-popup" href="{% url 'workflows:action-create' tenant.id activity.id %}" data-popup-url="{% url 'workflows:action-create' tenant.id activity.id %}">{% trans 'Add a new action' %}</a>
    </div>
  </div>
{% empty %}
<p>
  {% trans 'No activities. You should probably create one.' %}
</p>
{% endfor %}
<a class="mb-5 btn btn-outline-primary open-popup" href="{% url 'workflows:activity-create' tenant.id step.id %}" data-popup-url="{% url 'workflows:activity-create' tenant.id step.id %}">{% trans 'Create a new activity' %}</a>
</div>
{% include 'workflows/fragments/modal.html' %}
{% endblock content %}

{% block footer-scripts %}
<script>
$(document).on("change", ".responsibility-checkbox", function (e) {
    var action = null;
    if ($(this).is(":checked")) {
        action = 'add-responsibilities';
    } else {
        action = 'remove-responsibilities';
    }
    var rtype = $(this).data('rtype');
    var tenant_id = '{{ tenant.id }}';
    var url = '/workflows/' + tenant_id + '/actions/' + $(this).data('action') + '/' + action + '/' + rtype + '/';
    console.log(url);

    $.ajax({
        url: url
    }).then(function(data) {
        console.log(data);
    });
});

$(document).on("click", ".activity-up", function (e) {
    var activity = $(this).data('activity');
    var tenant_id = '{{ tenant.id }}';
    var url = '/workflows/' + tenant_id + '/activities/' + activity + '/up/';
    console.log(url);

    $.ajax({
        url: url
    }).then(function(data) {
        console.log(data);
    });
});

$(document).on("click", ".activity-down", function (e) {
    var activity = $(this).data('activity');
    var tenant_id = '{{ tenant.id }}';
    var url = '/workflows/' + tenant_id + '/activities/' + activity + '/down/';
    console.log(url);

    $.ajax({
        url: url
    }).then(function(data) {
        console.log(data);
    });
});
</script>
{% endblock footer-scripts %}
