{% load compliances %}
{% if domain.is_project_backlog_created %}
{% for section in sections.all %}
<fieldset class="border rounded-3 px-1 py-0 d-inline-block">
  <div x-data="{ open: false }">
    <div x-show="!open">
      <a class="text-reset text-decoration-none" href="#" x-on:click="open = !open">{{ section | section_status }}</a>
    </div>
    <div x-show="open">
    <legend class="float-none w-auto px-1 py-0 mt-0 mb-0">
      {% if level == 0 %}<h3>{% else %}<small>{% endif %}
        {{ section.domain.doc }} {{ section.docid }} {{ section.title }}</h3>
      {% if level == 0 %}</h3>{% else %}</small>{% endif %}
    </legend>
    {% for requirement in section.requirements.all %}
      {% for constraint in requirement.statement.constraints %}
        {{ constraint | constraint_status }}
      {% endfor %}
    {% endfor %}
    {% with level=level|add:"1" %}
      {% include 'compliances/fragments/audit-lightboard.html' with domain=domain sections=section.subsections level=level only %}
    {% endwith %}
    </div>
  </div>
</fieldset>
{% endfor %}
{% endif %}
