{% load i18n %}
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link {% if request.resolver_match.view_name == 'compliances:domain-dashboard' %}active{% endif %}" href="{% url 'compliances:domain-dashboard' tenant.id domain.id %}">{% trans 'Dashboard' %}</a>
  </li>
  <li class="nav-item">
    {% if domain.project %}
      <a class="nav-link {% if request.resolver_match.view_name == 'projects:project-roadmap' %}active{% endif %}" href="{% url 'projects:project-roadmap' tenant.id domain.project.id %}">{% trans 'Roadmap' %}</a>
    {% else %}
      <a class="nav-link disabled" href="#">{% trans 'Roadmap' %}</a>
    {% endif %}
  </li>
  <li class="nav-item">
    {% if domain.project %}
      <a class="nav-link {% if request.resolver_match.view_name == 'projects:project-backlog' %}active{% endif %}" href="{% url 'projects:project-backlog' tenant.id domain.project.id %}">{% trans 'Backlog' %}</a>
    {% else %}
      <a class="nav-link disabled" href="#">{% trans 'Backlog' %}</a>
    {% endif %}
  </li>
  <li class="nav-item">
    {% if domain.project %}
      <a class="nav-link {% if request.resolver_match.view_name == 'projects:project-sprints' %}active{% endif %}" href="{% url 'projects:project-sprints' tenant.id domain.project.id %}">{% trans 'Sprints' %}</a>
    {% else %}
      <a class="nav-link disabled" href="#">{% trans 'Sprints' %}</a>
    {% endif %}
  </li>
  <li class="nav-item">
    {% if domain.project %}
      <a class="nav-link {% if request.resolver_match.view_name == 'compliances:definition-list' %}active{% endif %}" href="{% url 'compliances:definition-list' tenant.id domain.id %}">{% trans 'References' %}</a>
    {% else %}
      <a class="nav-link disabled" href="#">{% trans 'References' %}</a>
    {% endif %}
  </li>
  <li class="nav-item">
    {% if domain.project %}
      <a class="nav-link {% if request.resolver_match.view_name == 'compliances:domain-audit' %}active{% endif %}" href="{% url 'compliances:domain-audit' tenant.id domain.id %}">{% trans 'Audit' %}</a>
    {% else %}
      <a class="nav-link disabled" href="#">{% trans 'Audit' %}</a>
    {% endif %}
  </li>
</ul>
